<div class="layout-info-account">
	<div class="title-infor-account text-center">
		<h1>Tài khoản của bạn </h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3 sidebar-account">
				<div class="AccountSidebar">
					<h3 class="AccountTitle titleSidebar">Tài khoản</h3>
					<div class="AccountContent">
						<div class="AccountList">
							<ul class="list-unstyled">			
								<li class="current"><a href="/account">Thông tin tài khoản</a></li>
								<li><a href="/account/addresses">Danh sách địa chỉ</a></li>
								<li class="last"><a href="/account/logout">Đăng xuất</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9">
				<div class="row">
					<div class="col-xs-12" id="customer_sidebar">
						<p class="title-detail">Tông tin tài khoản</p>
						{{#if user}}			
						<h2 class="name_account">{{user.name}}</h2>
						<p class="email ">{{user.email}}</p>
						{{/if}}
						<div class="address ">	
							<p></p>						
							<p></p>
							<p> Vietnam</p>
							<p></p>
							<a id="view_address" href="/account/addresses">Xem địa chỉ</a>
						</div>

					</div>
					<div class="col-xs-12 customer-table-wrap" id="customer_orders">	
						<div class="customer_order customer-table-bg">		
							<p class="title-detail">
								Danh sách đơn hàng mới nhất
							</p>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th class="order_number text-center">Mã đơn hàng</th>
											<th class="date text-center">Ngày đặt</th>
											<th class="total text-right">Thành tiền</th>
											<th class="payment_status text-center">Trạng thái thanh toán</th>
											<th class="fulfillment_status text-center">Vận chuyển</th>

										</tr>
									</thead>
									<tbody>	
										{{#each invoices}}								
										<tr class="odd cancelled_order">
											<td class="text-center"><a href="/account/orders/{{this._id}}" title="">#{{{this._id}}}</a></td>

											<td class="text-center"><span>t{{this.createdAt}}</span></td>
											<td class="text-right"><span class="total money">{{currencyFormat this.totalAmount}}</span></td>
											<td class="text-center"><span class="status_pending">{{this.paymentMethod}}</span></td>
											<td class="text-center"><span class="status_fulfilled">{{this.status}}</span></td>
										</tr>	
										{{/each}}		
									</tbody>
								</table>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>