
<div class="layout-info-account">
	<div class="title-infor-account text-center">
		<h1>Thông tin địa chỉ</h1>
	</div>
	<div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 sidebar-account">
                <div class="AccountSidebar">
                    <h3 class="AccountTitle titleSidebar">Tài khoản</h3>
                    <div class="AccountContent">
                        <div class="AccountList">
                            <ul class="list-unstyled">			
                                <li class="current"><a href="/account">Thông tin tài khoản</a></li>
                                <li><a href="/account/addresses">Danh sách địa chỉ</a></li>
                                <li class="last"><a href="/account/logout">Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>	
                <div class="col-xs-12 col-sm-9">
                <div class="row">
                    <div class="content-page">
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div id="address_tables"> 
                                <div class="row">
                                    <div class="col-lg-12 col-xs-12 clearfix">
                                        <div class="address_title ">
                                            <h3>
                                                <strong>đấ adasdas</strong>									
                                                <span class="default_address note">(Địa chỉ mặc định)</span>								
                                            </h3>
                                            <p class="address_actions text-right">
                                                <span class="action_link action_edit"><a href="#" onclick="Haravan.CustomerAddress.toggleForm(1051262035);return false"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
                                                <span class="action_link action_delete"><a href="#" onclick="Haravan.CustomerAddress.destroy(1051262035);return false"><i class="fa fa-times" aria-hidden="true"></i></a></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="address_table">
                                <div id="view_address_1051262035" class="customer_address">
                                    <div class="view_address">
                                        <div class="col-md-6  col-sm-6 col-xs-6 row">
                                            <p><strong>đấ adasdas</strong></p>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 row">
                                            <p>
                                                <b>Công ty:</b>
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 ">
                                            <p>
                                                
                                            </p> 
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-6 col-sm-6 col-xs-6  row">
                                            <p>
                                                <b>Địa chỉ:</b>
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <p></p>
                                            <p></p>
                                            <p>, Vietnam </p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 row">
                                            <p>
                                                <b>Số điện thoại:</b>
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 ">
                                            <p></p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>    
                                <div id="edit_address_1051262035" class="customer_address edit_address" style="display:none;">
                                    <form accept-charset="UTF-8" action="/account/addresses/1051262035" id="address_form_1051262035" method="post">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" id="address_last_name_1051262035" class="form-control textbox" name="address[last_name]" size="40" value="đấ" placeholder="Họ">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" id="address_first_name_1051262035" class="form-control textbox" name="address[first_name]" size="40" value="adasdas" placeholder="Tên">
                                    </div>        
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span> 
                                        <input type="text" for="address_company_1051262035" class="form-control textbox" name="address[company]" size="40" value="" placeholder="Công ty">
                                    </div>
                                    <div class="input-group"> 
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        <input type="text" id="address_address1_1051262035" class="form-control textbox" name="address[address1]" size="40" value="" placeholder="Địa chỉ 1">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        <input type="text" id="address_address2_1051262035" class="form-control textbox" name="address[address2]" size="40" value="" placeholder="Địa chỉ 2">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>          
                                        <select class="form-control" id="address_country_1051262035" name="address[country]" data-default="Vietnam"><option value""="" data-provinces="[]">- Please Select --</option>
                                            <option value="Vietnam" data-provinces="[&quot;Hồ Chí Minh&quot;,&quot;Hà Nội&quot;,&quot;Đà Nẵng&quot;,&quot;An Giang&quot;,&quot;Bà Rịa - Vũng Tàu&quot;,&quot;Bắc Giang&quot;,&quot;Bắc Kạn&quot;,&quot;Bạc Liêu&quot;,&quot;Bắc Ninh&quot;,&quot;Bến Tre&quot;,&quot;Bình Định&quot;,&quot;Bình Dương&quot;,&quot;Bình Phước&quot;,&quot;Bình Thuận&quot;,&quot;Cà Mau&quot;,&quot;Cần Thơ&quot;,&quot;Cao Bằng&quot;,&quot;Đắk Lắk&quot;,&quot;Đắk Nông&quot;,&quot;Điện Biên&quot;,&quot;Đồng Nai&quot;,&quot;Đồng Tháp&quot;,&quot;Gia Lai&quot;,&quot;Hà Giang&quot;,&quot;Hà Nam&quot;,&quot;Hà Tĩnh&quot;,&quot;Hải Dương&quot;,&quot;Hải Phòng&quot;,&quot;Hậu Giang&quot;,&quot;Hòa Bình&quot;,&quot;Hưng Yên&quot;,&quot;Khánh Hòa&quot;,&quot;Kiên Giang&quot;,&quot;Kon Tum&quot;,&quot;Lai Châu&quot;,&quot;Lâm Đồng&quot;,&quot;Lạng Sơn&quot;,&quot;Lào Cai&quot;,&quot;Long An&quot;,&quot;Nam Định&quot;,&quot;Nghệ An&quot;,&quot;Ninh Bình&quot;,&quot;Ninh Thuận&quot;,&quot;Phú Thọ&quot;,&quot;Phú Yên&quot;,&quot;Quảng Bình&quot;,&quot;Quảng Nam&quot;,&quot;Quảng Ngãi&quot;,&quot;Quảng Ninh&quot;,&quot;Quảng Trị&quot;,&quot;Sóc Trăng&quot;,&quot;Sơn La&quot;,&quot;Tây Ninh&quot;,&quot;Thái Bình&quot;,&quot;Thái Nguyên&quot;,&quot;Thanh Hóa&quot;,&quot;Thừa Thiên Huế&quot;,&quot;Tiền Giang&quot;,&quot;Trà Vinh&quot;,&quot;Tuyên Quang&quot;,&quot;Vĩnh Long&quot;,&quot;Vĩnh Phúc&quot;,&quot;Yên Bái&quot;]">Vietnam</option>
                                            <option value="United States" data-provinces="[&quot;Alabama&quot;,&quot;Alaska&quot;,&quot;American Samoa&quot;,&quot;Arizona&quot;,&quot;Arkansas&quot;,&quot;Armed Forces Americas&quot;,&quot;Armed Forces Europe&quot;,&quot;Armed Forces Pacific&quot;,&quot;California&quot;,&quot;Colorado&quot;,&quot;Connecticut&quot;,&quot;Delaware&quot;,&quot;District of Columbia&quot;,&quot;Federated States of Micronesia&quot;,&quot;Florida&quot;,&quot;Georgia&quot;,&quot;Guam&quot;,&quot;Hawaii&quot;,&quot;Idaho&quot;,&quot;Illinois&quot;,&quot;Indiana&quot;,&quot;Iowa&quot;,&quot;Kansas&quot;,&quot;Kentucky&quot;,&quot;Louisiana&quot;,&quot;Maine&quot;,&quot;Marshall Islands&quot;,&quot;Maryland&quot;,&quot;Massachusetts&quot;,&quot;Michigan&quot;,&quot;Minnesota&quot;,&quot;Mississippi&quot;,&quot;Missouri&quot;,&quot;Montana&quot;,&quot;Nebraska&quot;,&quot;Nevada&quot;,&quot;New Hampshire&quot;,&quot;New Jersey&quot;,&quot;New Mexico&quot;,&quot;New York&quot;,&quot;North Carolina&quot;,&quot;North Dakota&quot;,&quot;Northern Mariana Islands&quot;,&quot;Ohio&quot;,&quot;Oklahoma&quot;,&quot;Oregon&quot;,&quot;Palau&quot;,&quot;Pennsylvania&quot;,&quot;Puerto Rico&quot;,&quot;Rhode Island&quot;,&quot;South Carolina&quot;,&quot;South Dakota&quot;,&quot;Tennessee&quot;,&quot;Texas&quot;,&quot;Utah&quot;,&quot;Vermont&quot;,&quot;Virgin Islands&quot;,&quot;Virginia&quot;,&quot;Washington&quot;,&quot;West Virginia&quot;,&quot;Wisconsin&quot;,&quot;Wyoming&quot;]">United States</option>
                                            <option value="Thailand" data-provinces="[&quot;Amnat Charoen&quot;,&quot;Ang Thong&quot;,&quot;Bangkok&quot;,&quot;Bueng Kan&quot;,&quot;Buriram&quot;,&quot;Chachoengsao&quot;,&quot;Chai Nat&quot;,&quot;Chaiyaphum&quot;,&quot;Chanthaburi&quot;,&quot;Chiang Mai&quot;,&quot;Chiang Rai&quot;,&quot;Chon Buri&quot;,&quot;Chumphon&quot;,&quot;Kalasin&quot;,&quot;Kamphaeng Phet&quot;,&quot;Kanchanaburi&quot;,&quot;Khon Kaen&quot;,&quot;Krabi&quot;,&quot;Lampang&quot;,&quot;Lamphun&quot;,&quot;Loei&quot;,&quot;Lopburi&quot;,&quot;Mae Hong Son&quot;,&quot;Maha Sarakham&quot;,&quot;Mukdahan&quot;,&quot;Nakhon Nayok&quot;,&quot;Nakhon Pathom&quot;,&quot;Nakhon Phanom&quot;,&quot;Nakhon Ratchasima&quot;,&quot;Nakhon Sawan&quot;,&quot;Nakhon Si Thammarat&quot;,&quot;Nan&quot;,&quot;Narathiwat&quot;,&quot;Nong Bua Lam Phu&quot;,&quot;Nong Khai&quot;,&quot;Nonthaburi&quot;,&quot;Pathum Thani&quot;,&quot;Pattani&quot;,&quot;Pattaya&quot;,&quot;Phangnga&quot;,&quot;Phatthalung&quot;,&quot;Phayao&quot;,&quot;Phetchabun&quot;,&quot;Phetchaburi&quot;,&quot;Phichit&quot;,&quot;Phitsanulok&quot;,&quot;Phra Nakhon Si Ayutthaya&quot;,&quot;Phrae&quot;,&quot;Phuket&quot;,&quot;Prachin Buri&quot;,&quot;Prachuap Khiri Khan&quot;,&quot;Ranong&quot;,&quot;Ratchaburi&quot;,&quot;Rayong&quot;,&quot;Roi Et&quot;,&quot;Sa Kaeo&quot;,&quot;Sakon Nakhon&quot;,&quot;Samut Prakan&quot;,&quot;Samut Sakhon&quot;,&quot;Samut Songkhram&quot;,&quot;Saraburi&quot;,&quot;Satun&quot;,&quot;Sing Buri&quot;,&quot;Sisaket&quot;,&quot;Songkhla&quot;,&quot;Sukhothai&quot;,&quot;Suphan Buri&quot;,&quot;Surat Thani&quot;,&quot;Surin&quot;,&quot;Tak&quot;,&quot;Trang&quot;,&quot;Trat&quot;,&quot;Ubon Ratchathani&quot;,&quot;Udon Thani&quot;,&quot;Uthai Thani&quot;,&quot;Uttaradit&quot;,&quot;Yala&quot;,&quot;Yasothon&quot;]">Thailand</option>
                                        </select>          
                                    </div>
                                    <div class="input-group" id="address_province_container_1051262035" style="display:none">        
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>                    
                                        <select id="address_province_1051262035" class="form-control" name="address[province]" data-default=""></select>          
                                    </div>
                                    <div class="input-group" style="display:none">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>     
                                        <input type="text" id="address_zip_1051262035" class="form-control textbox" name="address[zip]" size="40" value="70000">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                                        <input type="text" id="address_phone_1051262035" class="form-control textbox" name="address[phone]" size="40" value="" placeholder="Số điện thoại">
                                    </div>
                                    <div class="input-group">   
                                        <input type="checkbox" id="address_default_address_1051262035" name="address[default]" value="1">  Đặt làm địa chỉ mặc định.
                                    </div> 
                                    <div class="action_bottom">
                                        <input class="btn bt-primary" type="submit" value="Cập nhật">
                                        <span class="">hoặc <a href="/" onclick="Haravan.CustomerAddress.toggleForm(1051262035); return false;">Hủy</a></span>
                                    </div>        
                                    </form>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-12 clearfix">
                                    <div class=" address_title ">
                                        <h3>
                                            <strong>6rdertd5 fasasdas da ads</strong>									
                                        </h3>
                                        <p class="address_actions text-right">
                                            <span class="action_link action_edit"><a href="#" onclick="Haravan.CustomerAddress.toggleForm(1051387934);return false"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
                                            <span class="action_link action_delete"><a href="#" onclick="Haravan.CustomerAddress.destroy(1051387934);return false"><i class="fa fa-times" aria-hidden="true"></i></a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="address_table">
                                <div id="view_address_1051387934" class="customer_address">

                                    <div class="view_address">
                                        <div class="col-md-6 col-sm-6 col-xs-6 row">
                                            <p><strong>6rdertd5 fasasdas da ads</strong></p>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-6 ">

                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 row">
                                            <p>
                                                <b>Công ty:</b>
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <p></p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 row">
                                            <p>
                                                <b>Địa chỉ:</b>
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <p>314 kjhong co dau moi nguoi oi em test. so ri</p>
                                            <p></p>
                                            <p>Cao Bằng, Vietnam </p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 row">
                                            <p>
                                                <b>Số điện thoại:</b>
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 ">
                                            <p>0914491241</p>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>    
                                <div id="edit_address_1051387934" class="customer_address edit_address" style="display:none;">
                                    <form accept-charset="UTF-8" action="/account/addresses/1051387934" id="address_form_1051387934" method="post">

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" id="address_last_name_1051387934" class="form-control textbox" name="address[last_name]" size="40" value="6rdertd5 fasasdas da" placeholder="Họ">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" id="address_first_name_1051387934" class="form-control textbox" name="address[first_name]" size="40" value="ads" placeholder="Tên">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span> 
                                        <input type="text" for="address_company_1051387934" class="form-control textbox" name="address[company]" size="40" value="" placeholder="Công ty">
                                    </div>
                                    <div class="input-group"> 
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        <input type="text" id="address_address1_1051387934" class="form-control textbox" name="address[address1]" size="40" value="314 kjhong co dau moi nguoi oi em test. so ri" placeholder="Địa chỉ 1">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        <input type="text" id="address_address2_1051387934" class="form-control textbox" name="address[address2]" size="40" value="" placeholder="Địa chỉ 2">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>          
                                        <select class="form-control" id="address_country_1051387934" name="address[country]" data-default="Vietnam"><option value""="" data-provinces="[]">- Please Select --</option>
                                            <option value="Vietnam" data-provinces="[&quot;Hồ Chí Minh&quot;,&quot;Hà Nội&quot;,&quot;Đà Nẵng&quot;,&quot;An Giang&quot;,&quot;Bà Rịa - Vũng Tàu&quot;,&quot;Bắc Giang&quot;,&quot;Bắc Kạn&quot;,&quot;Bạc Liêu&quot;,&quot;Bắc Ninh&quot;,&quot;Bến Tre&quot;,&quot;Bình Định&quot;,&quot;Bình Dương&quot;,&quot;Bình Phước&quot;,&quot;Bình Thuận&quot;,&quot;Cà Mau&quot;,&quot;Cần Thơ&quot;,&quot;Cao Bằng&quot;,&quot;Đắk Lắk&quot;,&quot;Đắk Nông&quot;,&quot;Điện Biên&quot;,&quot;Đồng Nai&quot;,&quot;Đồng Tháp&quot;,&quot;Gia Lai&quot;,&quot;Hà Giang&quot;,&quot;Hà Nam&quot;,&quot;Hà Tĩnh&quot;,&quot;Hải Dương&quot;,&quot;Hải Phòng&quot;,&quot;Hậu Giang&quot;,&quot;Hòa Bình&quot;,&quot;Hưng Yên&quot;,&quot;Khánh Hòa&quot;,&quot;Kiên Giang&quot;,&quot;Kon Tum&quot;,&quot;Lai Châu&quot;,&quot;Lâm Đồng&quot;,&quot;Lạng Sơn&quot;,&quot;Lào Cai&quot;,&quot;Long An&quot;,&quot;Nam Định&quot;,&quot;Nghệ An&quot;,&quot;Ninh Bình&quot;,&quot;Ninh Thuận&quot;,&quot;Phú Thọ&quot;,&quot;Phú Yên&quot;,&quot;Quảng Bình&quot;,&quot;Quảng Nam&quot;,&quot;Quảng Ngãi&quot;,&quot;Quảng Ninh&quot;,&quot;Quảng Trị&quot;,&quot;Sóc Trăng&quot;,&quot;Sơn La&quot;,&quot;Tây Ninh&quot;,&quot;Thái Bình&quot;,&quot;Thái Nguyên&quot;,&quot;Thanh Hóa&quot;,&quot;Thừa Thiên Huế&quot;,&quot;Tiền Giang&quot;,&quot;Trà Vinh&quot;,&quot;Tuyên Quang&quot;,&quot;Vĩnh Long&quot;,&quot;Vĩnh Phúc&quot;,&quot;Yên Bái&quot;]">Vietnam</option>
                                            <option value="United States" data-provinces="[&quot;Alabama&quot;,&quot;Alaska&quot;,&quot;American Samoa&quot;,&quot;Arizona&quot;,&quot;Arkansas&quot;,&quot;Armed Forces Americas&quot;,&quot;Armed Forces Europe&quot;,&quot;Armed Forces Pacific&quot;,&quot;California&quot;,&quot;Colorado&quot;,&quot;Connecticut&quot;,&quot;Delaware&quot;,&quot;District of Columbia&quot;,&quot;Federated States of Micronesia&quot;,&quot;Florida&quot;,&quot;Georgia&quot;,&quot;Guam&quot;,&quot;Hawaii&quot;,&quot;Idaho&quot;,&quot;Illinois&quot;,&quot;Indiana&quot;,&quot;Iowa&quot;,&quot;Kansas&quot;,&quot;Kentucky&quot;,&quot;Louisiana&quot;,&quot;Maine&quot;,&quot;Marshall Islands&quot;,&quot;Maryland&quot;,&quot;Massachusetts&quot;,&quot;Michigan&quot;,&quot;Minnesota&quot;,&quot;Mississippi&quot;,&quot;Missouri&quot;,&quot;Montana&quot;,&quot;Nebraska&quot;,&quot;Nevada&quot;,&quot;New Hampshire&quot;,&quot;New Jersey&quot;,&quot;New Mexico&quot;,&quot;New York&quot;,&quot;North Carolina&quot;,&quot;North Dakota&quot;,&quot;Northern Mariana Islands&quot;,&quot;Ohio&quot;,&quot;Oklahoma&quot;,&quot;Oregon&quot;,&quot;Palau&quot;,&quot;Pennsylvania&quot;,&quot;Puerto Rico&quot;,&quot;Rhode Island&quot;,&quot;South Carolina&quot;,&quot;South Dakota&quot;,&quot;Tennessee&quot;,&quot;Texas&quot;,&quot;Utah&quot;,&quot;Vermont&quot;,&quot;Virgin Islands&quot;,&quot;Virginia&quot;,&quot;Washington&quot;,&quot;West Virginia&quot;,&quot;Wisconsin&quot;,&quot;Wyoming&quot;]">United States</option>
                                            <option value="Thailand" data-provinces="[&quot;Amnat Charoen&quot;,&quot;Ang Thong&quot;,&quot;Bangkok&quot;,&quot;Bueng Kan&quot;,&quot;Buriram&quot;,&quot;Chachoengsao&quot;,&quot;Chai Nat&quot;,&quot;Chaiyaphum&quot;,&quot;Chanthaburi&quot;,&quot;Chiang Mai&quot;,&quot;Chiang Rai&quot;,&quot;Chon Buri&quot;,&quot;Chumphon&quot;,&quot;Kalasin&quot;,&quot;Kamphaeng Phet&quot;,&quot;Kanchanaburi&quot;,&quot;Khon Kaen&quot;,&quot;Krabi&quot;,&quot;Lampang&quot;,&quot;Lamphun&quot;,&quot;Loei&quot;,&quot;Lopburi&quot;,&quot;Mae Hong Son&quot;,&quot;Maha Sarakham&quot;,&quot;Mukdahan&quot;,&quot;Nakhon Nayok&quot;,&quot;Nakhon Pathom&quot;,&quot;Nakhon Phanom&quot;,&quot;Nakhon Ratchasima&quot;,&quot;Nakhon Sawan&quot;,&quot;Nakhon Si Thammarat&quot;,&quot;Nan&quot;,&quot;Narathiwat&quot;,&quot;Nong Bua Lam Phu&quot;,&quot;Nong Khai&quot;,&quot;Nonthaburi&quot;,&quot;Pathum Thani&quot;,&quot;Pattani&quot;,&quot;Pattaya&quot;,&quot;Phangnga&quot;,&quot;Phatthalung&quot;,&quot;Phayao&quot;,&quot;Phetchabun&quot;,&quot;Phetchaburi&quot;,&quot;Phichit&quot;,&quot;Phitsanulok&quot;,&quot;Phra Nakhon Si Ayutthaya&quot;,&quot;Phrae&quot;,&quot;Phuket&quot;,&quot;Prachin Buri&quot;,&quot;Prachuap Khiri Khan&quot;,&quot;Ranong&quot;,&quot;Ratchaburi&quot;,&quot;Rayong&quot;,&quot;Roi Et&quot;,&quot;Sa Kaeo&quot;,&quot;Sakon Nakhon&quot;,&quot;Samut Prakan&quot;,&quot;Samut Sakhon&quot;,&quot;Samut Songkhram&quot;,&quot;Saraburi&quot;,&quot;Satun&quot;,&quot;Sing Buri&quot;,&quot;Sisaket&quot;,&quot;Songkhla&quot;,&quot;Sukhothai&quot;,&quot;Suphan Buri&quot;,&quot;Surat Thani&quot;,&quot;Surin&quot;,&quot;Tak&quot;,&quot;Trang&quot;,&quot;Trat&quot;,&quot;Ubon Ratchathani&quot;,&quot;Udon Thani&quot;,&quot;Uthai Thani&quot;,&quot;Uttaradit&quot;,&quot;Yala&quot;,&quot;Yasothon&quot;]">Thailand</option>
                                        </select>          
                                    </div>
                                    <div class="input-group" id="address_province_container_1051387934" style="display:none">        
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>                    
                                        <select id="address_province_1051387934" class="form-control" name="address[province]" data-default="Cao Bằng"></select>          
                                    </div>
                                    <div class="input-group" style="display:none">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>     
                                        <input type="text" id="address_zip_1051387934" class="form-control textbox" name="address[zip]" size="40" value="">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                                        <input type="text" id="address_phone_1051387934" class="form-control textbox" name="address[phone]" size="40" value="0914491241" placeholder="Số điện thoại">
                                    </div>
                                    <div class="input-group">   
                                        <input type="checkbox" id="address_default_address_1051387934" name="address[default]" value="1">  Đặt làm địa chỉ mặc định.
                                    </div> 
                                    <div class="action_bottom">
                                        <input class="btn bt-primary" type="submit" value="Cập nhật">
                                        <span class="">hoặc <a href="/" onclick="Haravan.CustomerAddress.toggleForm(1051387934); return false;">Hủy</a></span>
                                    </div>        
                                    </form>
                                </div>
                            </div>    
                        </div>

                        <div class="col-md-5 col-sm-12 col-xs-12 col-lg-5 pt20">
                            <a href="#" onclick="toggleNewForm(); return false;" class="add-new-address">Nhập địa chỉ mới</a>
                            <div id="add_address" class="customer_address edit_address" style="display:none;">
                                <form accept-charset="UTF-8" action="/account/addresses" id="address_form_new" method="post">

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" id="address_full_name_new" class="form-control textbox" name="fullName" size="40" value="" placeholder="Họ và Tên">
                                    </div>
			
                                    <div class="input-group"> 
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        <input type="text" id="address_address_new" class="form-control textbox" name="phoneNumber" size="40" value="" placeholder="Số điện thoại">
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        <input type="text" id="address_phone-number" class="form-control textbox" name="addressDetail" size="40" value="" placeholder="Địa chỉ (số nhà, đường)">
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        <input type="text" id="address_province" class="form-control textbox" name="province" size="40" value="" placeholder="Tỉnh / Thành Phố">
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        <input type="text" id="address_district" class="form-control textbox" name="district" size="40" value="" placeholder="Quận / Huyện">
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        <input type="text" id="address_sub-district" class="form-control textbox" name="subDistrict" size="40" value="" placeholder="Phường / Xã">
                                    </div>

                                    <div class="action_bottom">
                                        <input class="btn btn-primary" type="submit" value="Thêm mới">
                                        <span class="">hoặc <a href="#" onclick="toggleNewForm(); return false;">Hủy</a></span>
                                    </div>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
    </div> 
</div>

<script>
    const toggleNewForm = () => {
        if($('#add_address').is(":visible"))
        {
            $('#add_address').hide()
        }
        else {
            $('#add_address').show()
        }
    }
</script>