<div class="content">
  <div class="wrap">
    <div class="sidebar">
      <div class="sidebar-content">
        <div class="order-summary order-summary-is-collapsed">
          <h2 class="visually-hidden">Thông tin đơn hàng</h2>
          <div class="order-summary-sections">
            <div class="order-summary-section order-summary-section-product-list" data-order-summary-section="line-items">
              <table class="product-table">
                <thead>
                  <tr>
                    <th scope="col"><span class="visually-hidden">Hình ảnh</span></th>
                    <th scope="col"><span class="visually-hidden">Mô tả</span></th>
                    <th scope="col"><span class="visually-hidden">Số lượng</span></th>
                    <th scope="col"><span class="visually-hidden">Giá</span></th>
                  </tr>
                </thead>
                <tbody id="list_product-variant">
                </tbody>
              </table>
            </div>
              <div class="order-summary-section order-summary-section-discount" data-order-summary-section="discount">
                <form id="form_discount_add" accept-charset="UTF-8" method="post">
                  <input name="utf8" type="hidden" value="✓">
                  <div class="fieldset">
                    <div class="field  ">
                      <div class="field-input-btn-wrapper">
                        <div class="field-input-wrapper">
                          <label class="field-label" for="discount.code">Mã giảm giá</label>
                          <input placeholder="Mã giảm giá" class="field-input" data-discount-field="true" autocomplete="off" autocapitalize="off" spellcheck="false" size="30" type="text" id="discount.code" name="discount.code" value="">
                        </div>
                        <button type="submit" class="field-input-btn btn btn-default btn-disabled">
                          <span class="btn-content">Sử dụng</span>
                          <i class="btn-spinner icon icon-button-spinner"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            <div class="order-summary-section order-summary-section-total-lines payment-lines" data-order-summary-section="payment-lines">
              <table class="total-line-table">
                <thead>
                  <tr>
                    <th scope="col"><span class="visually-hidden">Mô tả</span></th>
                    <th scope="col"><span class="visually-hidden">Giá</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="total-line total-line-subtotal">
                    <td class="total-line-name">Tạm tính</td>
                    <td class="total-line-price">
                      <span class="order-summary-emphasis" id="total-tempo" data-checkout-subtotal-price-target="">

                      </span>
                    </td>
                  </tr>
                  <tr class="total-line total-line-shipping">
                    <td class="total-line-name">Phí vận chuyển</td>
                    <td class="total-line-price">
                      <span class="order-summary-emphasis" id='shipping-fee-final' data-checkout-total-shipping-target="0">
                          — 
                      </span>
                    </td>
                  </tr>
                </tbody>
                <tfoot class="total-line-table-footer">
                  <tr class="total-line">
                    <td class="total-line-name payment-due-label">
                      <span class="payment-due-label-total">Tổng cộng</span>
                    </td>
                    <td class="total-line-name payment-due">
                      <span class="payment-due-currency">VND</span>
                      <span class="payment-due-price" id ="payment-due-price" name = "totalAmount" >
                      </span>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="main-header">
        <a href="/" class="logo">
          <h1 class="logo-text">Thời Trang Nam Nữ NewHusky Fashion</h1>
        </a>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/cart">Giỏ hàng</a>
            </li>
            <li class="breadcrumb-item breadcrumb-item-current">
                Thông tin giao hàng
            </li>
          </ul>
      </div>
      <div class="main-content">
          <div class="step">
            <div class="step-sections steps-onepage" step="1">
                <div class="section">
                  <div class="section-header">
                    <h2 class="section-title">Thông tin giao hàng</h2>
                  </div>
                  <div class="section-content section-customer-information no-mb">
                      <input type="hidden" name="checkout_user[email]" value="wgb79786@bcaoo.com">
                      <div class="logged-in-customer-information">
                        <div class="logged-in-customer-information-avatar-wrapper">
                          <div class="logged-in-customer-information-avatar gravatar" style="background-image: url(//www.gravatar.com/avatar/4d9ce70ea4c4ca17529cddddb3367b6b.jpg?s=100&amp;d=blank);filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.gravatar.com/avatar/4d9ce70ea4c4ca17529cddddb3367b6b.jpg?s=100&amp;d=blank', sizingMethod='scale')"></div>
                        </div>
                        <p class="logged-in-customer-information-paragraph">
                          {{user.firstName}} {{user.lastName}} ({{user.email}})
                          <br>
                          <a href="/account/logout">Đăng xuất</a>
                        </p>
                      </div>
                    <div class="fieldset">
                        <div class="field field-show-floating-label">
                          <div class="field-input-wrapper field-input-wrapper-select">
                            <label class="field-label" for="stored_addresses">Địa chỉ đã lưu trữ</label>
                            <select class="field-input" id="stored_addresses">
                              <option value="0" data-properties="{}">Thêm địa chỉ mới...</option>
                            </select>
                          </div>
                        </div>
                        <div class="field">
                          <div class="field-input-wrapper">
                            <label class="field-label" for="fullName">Họ và tên</label>
                            <input placeholder="Họ và tên" autocapitalize="off" spellcheck="false" class="field-input" size="30" type="text" id="billing_address_full_name" name="fullName" value="">
                            {{#if error.name}}
                                 <div class="text-danger">
                                  vui lòng điền vào họ tên người nhận
                                </div>
                            {{else}}
                             <div class="text-danger">
                                </div>
                            {{/if}}
                          </div>
                        </div>
                        <div class="field field-required">
                          <div class="field-input-wrapper">
                            <label class="field-label" for="billing_address_phone">Số điện thoại</label>
                            <input placeholder="Số điện thoại" autocapitalize="off" spellcheck="false" class="field-input" size="30" maxlength="11" type="tel" id="billing_address_phone" name="phoneNumber" value="">
                             {{#if error.phone}}
                                 <div class="text-danger">
                                  vui lòng điền vào số điện thoại
                                </div>
                            {{else}}
                             <div class="text-danger">
                                </div>
                            {{/if}}
                          </div>
                        </div>
                        <div class="field field-required">
                          <div class="field-input-wrapper">
                            <label class="field-label" for="billing_address_address1">Địa chỉ</label>
                            <input placeholder="Địa chỉ" autocapitalize="off" spellcheck="false" class="field-input" size="30" type="text" id="billing_address_address-detail" name="addressDetail" value="">
                            {{#if error.address}}
                                 <div class="text-danger">
                                  vui lòng điền vào địa chỉ
                                </div>
                            {{else}}
                             <div class="text-danger">
                                </div>
                            {{/if}}
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="section-content">
                    <div class="fieldset">
                        <form id="form_update_location" class="clearfix order-checkout__loading" accept-charset="UTF-8" action= 'update' method="post">
                        <input name="selected_customer_shipping_province" type="hidden" value="">
                        <input name="selected_customer_shipping_district" type="hidden" value="">
                        <input name="selected_customer_shipping_ward" type="hidden" value="">
                        <input name="utf8" type="hidden" value="✓">
                        <div class="order-checkout__loading--box">
                        <div class="order-checkout__loading--circle"></div>  
                        </div>
                        <div class="field field-show-floating-label field-required field-third ">
                          <div class="field-input-wrapper field-input-wrapper-select">
                            <label class="field-label" for="customer_shipping_province"> Tỉnh / thành  </label>
                            <select class="field-input" name="province" id="customer_shipping_province" name="customer_shipping_province">
                                  <option data-code="null" value="null" selected="">----</option>
                            </select>
                          </div>
                        </div>
                            <div class="field field-show-floating-label field-required field-third ">
                              <div class="field-input-wrapper field-input-wrapper-select">
                                <label class="field-label" for="customer_shipping_district">Quận / huyện</label>
                                <select class="field-input" name="district"  id="customer_shipping_district" name="customer_shipping_district">
                                  <option data-code="null" value="null" selected="">----</option>
                                </select>
                              </div>
                            </div>
                              <div class="field field-show-floating-label field-required  field-third  ">
                                <div class="field-input-wrapper field-input-wrapper-select">
                                  <label class="field-label" for="customer_shipping_ward">Phường / xã</label>
                                  <select class="field-input" name="subDistrict" id="customer_shipping_ward" name="customer_shipping_ward">
                                    <option data-code="null" value="null" selected="">----</option>
                                  </select>
                                </div>
                              </div>
                        </form>
                    </div>
                    <div class="section-content section-customer-information fieldset" id="div_country_not_vietnam" style="display: none;">
                      <div class="field field-two-thirds">
                        <div class="field-input-wrapper">
                          <label class="field-label" for="billing_address_city">Thành phố</label>
                          <input placeholder="Thành phố" autocapitalize="off" spellcheck="false" class="field-input" size="30" type="text" id="billing_address_city" name="billing_address[city]" value="">
                        </div>
                      </div>
                      <div class="field field-third">
                        <div class="field-input-wrapper">
                          <label class="field-label" for="billing_address_zip">Mã bưu chính</label>
                          <input placeholder="Mã bưu chính" autocapitalize="off" spellcheck="false" class="field-input" size="30" type="text" id="billing_address_zip" name="billing_address[zip]" value="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="change_pick_location_or_shipping">
                    <div id="section-shipping-rate">
                        <div class="section-header">
                            <h2 class="section-title">Phương thức vận chuyển</h2>
                        </div>
                        <div class="section-content">
                            
                            <div class="content-box">
                                
                                <div class="content-box-row">
                                    <div class="radio-wrapper">
                                        <label class="radio-label" for="shipping-method_id">
                                            <div class="radio-input">
                                                <input id="shipping_method" class="input-radio" type="radio" name="shippingMethod" value="{{shippingMethod._id}}" checked="">
                                            </div>
                                            
                                            <span class="radio-label-primary">{{shippingMethod.transporter}}</span>
                                            <span id="shipping-fee" value="{{shippingMethod.feeShip}}" class="radio-accessory content-box-emphasis">
 
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div id="section-payment-method" class="section">
                        <div class="section-header">
                            <h2 class="section-title">Phương thức thanh toán</h2>
                        </div>
                        <div class="section-content">
                            <div class="content-box">
                                <div class="radio-wrapper content-box-row">
                                    <label class="radio-label" for="paymentMethod">
                                        <div class="radio-input">
                                            <input id="payment_method" class="input-radio" name="paymentMethod" type="radio" value="Thanh toán khi giao hàng (COD)" checked="">
                                        </div>
                                        <span class="radio-label-primary">Thanh toán khi giao hàng (COD)</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="step-footer">
                <form id="form_next_step" action="/checkout" accept-charset="UTF-8" class="needs-validation" method="post">
                    <input name="utf8" type="hidden" value="✓">
                     <input id="user_info" name="user" value="{{user._id}}" type="hidden">
                    <button id="btn-submit-checkout" class="step-footer-continue-btn btn">
                        <span class="btn-content">Hoàn tất đơn hàng</span>
                        <i class="btn-spinner icon icon-button-spinner"></i>
                    </button>
                </form>
                <a class="step-footer-previous-link" href="/cart">
                    <svg class="previous-link-icon icon-chevron icon" xmlns="http://www.w3.org/2000/svg" width="6.7" height="11.3" viewBox="0 0 6.7 11.3"><path d="M6.7 1.1l-1-1.1-4.6 4.6-1.1 1.1 1.1 1 4.6 4.6 1-1-4.6-4.6z"></path></svg>
                    Giỏ hàng
                </a>
            </div>
          </div>
      </div>
      <div class="main-footer">
        <div id="check-result" class="hidden">{{result}}</div>
      </div>
    </div>
  </div>
</div>

	<div class="container">
  <!-- Button to Open the Modal -->
  <button type="button" class="hidden" id="show-result" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >
  </button>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Đặt hàng thành công</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          cảm ơn quý khách đã mua hàng tại shop, vui lòng kiểm tra đơn hàng tại quản lý tài khoản
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
					<a href="/" id="close-modal" class="btn btn-dark">Close</a>
        </div>
        
      </div>
    </div>
  </div>
  
</div>
<script>
  $('#shipping-fee').text(convertFormatPrice({{shippingMethod.feeShip}}))
  $('#shipping-fee-final').text(convertFormatPrice({{shippingMethod.feeShip}}))

  const  deleteLocalStorage = () => {
    localStorage.clear();
  }

  const result = $('#check-result').text()
  console.log(result)
	if(result) {
    deleteLocalStorage()
		$('#show-result').click()

	}

    

</script>

