<div class="heading-select text-bold lh-2-1">Kích thước:</div>
    {{#each sizes}}
    <div class="list-select-item size-item">
        <input type="radio" id="{{this.size._id}}" class="item-size" value="{{this.size.name}}">
        <label for="size-{{this.size.name}}">
            <span>{{this.size.name}}</span>
        </label>
    </div>  
    {{/each}}