   <section class="main-section">
      <div id="myCarousel" class="carousel slide border" data-ride="carousel">
          
        <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="/images/Carolsel/slideshow_2.jpg" alt="Panther">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="/images/Carolsel/slideshow_3.jpg" alt="Black Cat">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="/images/Carolsel/slideshow_4.jpg" alt="Lion">
                    </div>
                  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
        <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>        
      </div>
</section>

<section class="section section-collection">
    <div class="container-fluid">
      <a href="">
        <h2 class="section-collection_heading">Sản phẩm mới</h2>
      </a>
      <div id="collection-carousel" class="owl-carousel owl-the">
        {{#each latestProducts}}  
        <div class="item">
          <div class="product-block">
            <div class="product-img" style=" height: 526px;">
              <a href="/products/{{this._id}}">
                <img style="width: 100%; height: 100%" src="/images/{{this.avatar}}" alt="">
              </a>
            </div>
            <div class="product-detail">
              <a class="product-name" href="/products/{{this._id}}">{{this.name}}</a>
              <div class="product-price">
                <p>{{currencyFormat this.price}}</p>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
      </div>
    </div>
</section>


<section class="section section-collection">
    <div class="container-fluid">
      <a href="">
        <h2 class="section-collection_heading">Sản phẩm bán chạy</h2>
      </a>
      <div id="collection-carousel" class="owl-carousel owl-the">
        {{#each products}}  
        <div class="item">
          <div class="product-block">
            <div class="product-img" style=" height: 526px;">
              <a href="/products/{{this._id}}">
                <img style="width: 100%; height: 100%" src="/images/{{this.avatar}}" alt="">
              </a>
            </div>
            <div class="product-detail">
              <a class="product-name" href="/products/{{this._id}}">{{this.name}}</a>
              <div class="product-price">
                <p>{{currencyFormat this.price}}</p>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
      </div>
    </div>
</section>
