<div class="layout-account">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-xs-12 wrapbox-heading-account">
        <div class="header-page clearfix">
          <h1>Đăng nhập</h1>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 wrapbox-content-account">
        <div class="userbox">
            {{#if error}}
            <div class="text-danger">{{error}}</div>
            {{/if}}
            <form accept-charset='UTF-8' action='/account/login' id='customer_login' method='post'>
                <div class="clearfix large_form">
                    <label for="email" class="icon-field"><i class="icon-login icon-envelope "></i></label>
                    <input required type="email" value="" name="email" id="customer_email" placeholder="Email" class="text" />
                </div>
                
                <div class="clearfix large_form">
                    <label for="password" class="icon-field"><i class="icon-login icon-shield"></i></label>
                    <input required type="password" value="" name="password" id="customer_password" placeholder="Mật khẩu" class="text" size="16" />      
                </div>
                
                <div class="clearfix action_account_custommer">
                    <div class="action_bottom button dark">
                        <input class="btn btn-signin" type="submit" value="Đăng nhập" />
                    </div>
                    <div class="req_pass">
                        <a href="#" onclick="showRecoverPasswordForm();return false;">Quên mật khẩu?</a><br>
                        hoặc <a href="/account/register" title="Đăng ký">Đăng ký</a>
                    </div>
                </div>               
            </form>
            <div id="recover-password" style="display:none;" class="userbox">
                <div class="accounttype">
                    <h2>Phục hồi mật khẩu</h2>
                </div>		

                <form accept-charset='UTF-8' action='/account/recover' method='post'>
                
                <div class="clearfix large_form">
                    <label for="email" class="icon-field"><i class="icon-login icon-envelope "></i></label>
                    <input type="email" value="" size="30" name="email" placeholder="Email" id="recover-email" class="text" />
                </div>
                <div class="clearfix action_account_custommer">
                    <div class="action_bottom button dark">
                        <input class="btn" type="submit" value="Gửi" />
                    </div>
                    <div class="req_pass">
                        <a href="#" onclick="hideRecoverPasswordForm();return false;">Hủy</a>
                    </div>
                </div>
                
            </form>
        </div>
      </div>
    </div>
  </div>
</div>