<div class="layout-info-account account-order">
	<div class="title-infor-account text-center">
		<h1>Chi tiết đơn hàng </h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3 sidebar-account">
				<div class="AccountSidebar">
	<h3 class="AccountTitle titleSidebar">Tài khoản</h3>
	<div class="AccountContent">
		<div class="AccountList">
			<ul class="list-unstyled">			
				<li class="current"><a href="/account">Thông tin tài khoản</a></li>
				<li><a href="/account/addresses">Danh sách địa chỉ</a></li>
				<li class="last"><a href="/account/logout">Đăng xuất</a></li>
			</ul>
		</div>
	</div>
</div>
			</div>	
			<div class="col-xs-12 col-sm-9">
				<div class="header-page">
					<h4 class="name-order">Đơn hàng: #{{invoice._id}}</h4>
						 <span class="order_date">Đặt lúc — {{invoice.createdAt}}</span>
					
					<div id="order_cancelled" class="flash notice">
						<span>customer</span>
					</div>
					
				</div>
				<div class="row">
					<div class="col-xs-12">
						<a href="/account" id="return_to_store">Quay lại trang tài khoản </a>
					</div>				
					<div class="col-md-12 col-sm-12 col-xs-12 content-page customer-table-wrap detail-table-order">
						<div class="customer-table-bg">						
							<p class="title-detail">Chi tiết đơn hàng	</p>
							<div class="table-responsive">
								<table id="order_details" class="table tableOrder">
									<tbody><tr height="40px">
										<th class="">ảnh sản phẩm</th>
										<th class="text-center">Tên sản phẩm</th>
										<th class="text-center">Mã sản phẩm</th>
										<th class="text-center">Đơn giá</th>
										<th class="text-center">Số lượng</th>
										<th class="total text-right">Thành tiền</th>
									</tr>
									{{#each invoiceDetails}}
									<tr height="40px" id="0" class="odd">
										<td style="width: 100px" class="sku text-center"><img style="width: 100%" st src="/images/{{this.productDetail.product.avatar}}" alt=""></td>
										<td class="" style="max-width:300px">
											<a href="/products/{{this.productDetail.product._id}}" title="">{{this.productDetail.product.name}}</a> <br> 
											<span class="variant_acc">
												
											  {{this.productDetail.color.name}} / {{this.productDetail.size.name}}
												
											</span>
											
										</td>
										<td class="sku text-center">{{this.productDetail._id}}</td>
										<td class="money text-center">{{currencyFormat this.productDetail.product.price}}</td>
										<td class="quantity center text-center">{{this.quantity}}</td>
										<td class="total money text-right">{{currencyFormat (multiple this.productDetail.product.price this.quantity)}}</td>
									</tr>
									{{/each}}

									<tr height="40px" class="order_summary order_total">
										<td class="text-right" colspan="4"><b>Tổng tiền</b></td>
										<td class="total money text-right"><b>{{currencyFormat invoice.totalAmount}}</b></td>
									</tr>    
								</tbody></table>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>