
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
  </ol>
</nav>
<div class="layout-product-detail">
    <div class="container-fluid">
        <div class="row break-partition">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                
            </div>
        </div>
        <div class="row product-detail-wrapper">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 container-fluid">
                <div class="row product-detail-main">                    
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="product-detail-thumb" id="thumb-product">
                            <!-- mặc đinh để hình ảnh đầu tiên của sản phẩm -->
                            <img src="/images/{{product.avatar}}" class="w-100" alt="">
                        </div>          
                    </div>
                    
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 product-info-wrapper">
                        <div class="product-name" id="{{product._id}}">   
                            <h3 class="text-bold">{{product.name}}</h3>
                            <div class="product-parameter">
                                <span id="product-color"></span>
                                <span>  - </span>
                                <span id="product-size"></span>
                            </div>
                        </div>
                        <div class="product-price text-bold">
                            <span id="{{product.price}}">{{product.priceFormatted}}</span>
                        </div>
                            <div class="product-option">
                                <div class="color-list-select">
                                    <div class="heading-select text-bold lh-2-1">Màu sắc:</div>
                                      {{#each colors}}
                                            <div class="list-select-item color-item">
                                                <input type="radio" id="{{this._id}}" class="item-color" value="{{this.name}}">
                                                <label for="{{this.name}}">
                                                    <span id="{{this._id}}" class="text-center">{{this.name}}</span>
                                                </label>
                                            </div>  
                                      {{/each}}    
                                </div>
                                <div class="size-list-select">
                                </div>
                                <div class="button-added product-detail float-left">
                                    <div class="heading-added text-bold">Số lượng:  </div>
                                    <input class="minus is-form" type="button" value="-">
                                    <input aria-label="quantity" class="input-qty" max="11" min="1" name="" type="number" value="1">
                                    <input class="plus is-form" type="button" value="+">
                                </div>
                                <button id="add-to-cart" onclick="addProductToCart()" class="btn btn-dark btn-add-to-cart d-block form-control" name="add-cart">Thêm vào giỏ hàng</button>
                                <div class="product-description">
                                    <div class="text-bold heading">Mô tả:</div>
                                    {{{product.description}}}
                                </div>
                                
                                <div class="related-image">
                                    <div class="heading text-bold lh-2-1">Hình ảnh liên quan:</div>
                                    <div class="product-detail-all-images border border-bottom-0 row">
                                        <!-- chứa toàn bộ hình của sản phẩm -->

                                        {{#each product.moreImages}}
                                        <div class="image-item col-3">
                                            <img src="/images/{{this}}" alt="">
                                        </div>
                                         {{/each}}
                                    </div>

                                </div>
                            </div>
                    </div>
                    
                </div>
            </div>
            

        </div>
    </div>
</div>
<script type="text/javascript">

    var switchImagesInProductDetail = function() {
        $('.image-item').each(function() {
            let srcInstead = $(this).children().attr('src');
            $(this).on("click",function() {
            $('.product-detail-thumb img').fadeIn(3000,function() {
                $(this).attr("src",srcInstead).fadeIn;
            })
            })
        })  
        }
        switchImagesInProductDetail();
    

    var RmClassActiveInColorSelect = function () {
      $('.color-item').each(function() {
        $(this).last().removeClass('active');
        $(":first-child", this).prop( "checked", false);
        // $(this).first().prop( "checked", false);
      })
    }
  

    var color
    var colorName
    var size;
    var chooseColorProductDetail = function() {
      let productid = $('.product-name').last().attr('id');

      $('.color-item').each(function(i) {
        if($("label",this).children().text() == "") {
            $('.color-list-select').hide();
            return;
        }
        // mac dinh active cho mau dau tien
        if ( i === 0 ) {
          $(this).addClass('active');
          $(":first-child", this).prop( "checked", true);
          color = $("label",this).children().attr('id');
          colorName = $("label",this).children().text()
          console.log(colorName)
          $(this).ready(function() {
            getSizeByColorAndProductID(color,productid);
            $('#product-color').text(colorName);  
          })      
        }
        $(this).on("click",function() {
          RmClassActiveInColorSelect();
          $(this).addClass('active');
          $(":first-child", this).prop( "checked", true);

          color = $("label",this).children().attr('id');
          colorName = $("label",this).children().text()
          getSizeByColorAndProductID(color,productid);
          $('#product-color').text(colorName);
        });
      })
    }
    chooseColorProductDetail();
 
    var RmClassActiveInSizeSelect = function () {
      $('.size-item').each(function() {
        $(this).last().removeClass('active');
        $(":first-child", this).prop( "checked", false);
      })
    }

    var chooseSizeProductDetail = function (){

      $('.size-item').each(function(i) {
        // mac dinh active cho mau dau tien
        if ( i === 0 ) {
          $(this).addClass('active');
          $(":first-child", this).prop( "checked", true); 
          size = $("label",this).children().text();
          $('#product-size').text(size);
          
        }
        $(this).on("click",function() {
          RmClassActiveInSizeSelect();
          $(this).addClass('active');
          $(":first-child", this).prop( "checked", true);
          size = $("label",this).children().text();
          $('#product-size').text(size);
        });
      })
    }
    
    chooseSizeProductDetail();


    var getSizeByColorAndProductID = function(color,productId) {
      $.ajax({
          type: 'get',
          url: "/products/getSizeByColor",
          dataType: "text",
          async:false,
          data: {color: color,
                 product: productId
          },   
                     
          success: function(result) {
              $('.size-list-select').html(result);
              chooseSizeProductDetail();
          }
      });
    }
    // add to cart
  
    var addProductToCart = function() {
        let product ={
            productId: $('.product-name').last().attr('id'),
            ProductImagePath: $('.product-detail-thumb img').attr("src"),
            productName: $('.product-name h3').text(),
            productPrice: parseInt($('.product-price span').attr("id")),
            productColor: {
              id: $('.color-item').find('input:checked').attr("id"),
              name: $('.color-item').find('input:checked').val(),
            },
            productSize: {
              id: $('.size-item').find('input:checked').attr("id"),
              name: $('.size-item').find('input:checked').val(),
            },
            amount: parseInt($('.input-qty').attr("value")),
        
        }
        // dữ liệu lưu trữ vào localStorage
        var listItemCart = getAllItemCart();
        var isExist = false;
        for(var i = 0 ; i < listItemCart.length; i++) {
            if((listItemCart[i].productId == product.productId) && (listItemCart[i].productColor.id == product.productColor.id) && (listItemCart[i].productSize.id == product.productSize.id))
            {
                console.log('dung')
                listItemCart[i].amount = parseInt(listItemCart[i].amount) + product.amount;
                isExist = true;
            }
        }
        if(isExist == false) {
            
            listItemCart.push(product);
        }
        setAllItemToLocalStorage(listItemCart);
        showSiteCartListItem();
        $('#site-overlay').addClass('active');
        $('#main-body').addClass('sidebar-move');
        $('.site-nav').addClass('active show-cart');

    }
    $('input.input-qty').each(function() {
    var $this = $(this),
      qty = $this.parent().find('.is-form'),
      min = Number($this.attr('min')),
      max = Number($this.attr('max'))
    if (min == 0) {
      var d = 0
    } else d = min
    $(qty).on('click', function() {
      if ($(this).hasClass('minus')) {
        if (d > min) d += -1
      } else if ($(this).hasClass('plus')) {
        var x = Number($this.val()) + 1
        if (x <= max) d += 1
      }
      $this.attr('value', d).val(d)
      calTotalAmount()
      })
  })
    
</script>