<style type="text/css">
   .product-detail {
       margin: 10px;
   } 

    .product-detail .product-name,.product-detail .product-price {
        font-size: 14px;
        margin: 0px;
    }
</style>

<div class="list-product-page container-fluid">
    <div class="wrap-breadcrumb row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="/products/productByCat">{{subCategory.category.name}}</a></li>
                    <li class="breadcrumb-item"><a href="/products/productByCat">{{subCategory.name}}</a></li>
                </ol>
            </nav>    
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="product-list-body" class="wrap-product-list-body">
                <div class="row product-list-header" >
                    <div class="col-12 col-sm-12 col-md-8">
                        <div class="product-list-header-title">
                            <h3 class="font-weight-bold" value="<?php echo $data['catId']?>"><?php echo $product[0]['categoryname']?></h3>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4">
                        <div class="sort-option float-right">
                            <label for="sort-by" class="font-weight-bold">Sắp xếp theo:</label>
                            <select name="" id="sort-by">
                                <option value="created-ascending" data-filler="&sortBy=createAT&status=DESC">Sản phẩm mới nhất</option>
                                <option value="price-ascending" data-filler="&sortBy=productprice&status=ASC">Giá: Tăng dần</option>
                                <option value="price-descending" data-filler="&sortBy=productprice&status=DESC">Giá: Giảm dần</option>
                                <option value="created-descending" data-filler="&sortBy=createAT&status=DESC">Sản phẩm cũ nhất</option>
                            </select> 
                        </div>
                    </div>
                </div>
                <div class="row product-list-content clearfix">
                    {{#each products}}
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="product-block h-100">
                                <div class="product-img w-100">
                                    <a href="/products/{{this._id}}" class="product-link">
                                        <img class="w-100" style="width: 100%; height: 100%"  src="/images/{{this.avatar}}" alt="">
                                    </a>
                                </div>
                                <div class="product-detail text-center">
                                    <a href="/products/{{this._id}}" class="product-link">
                                        <h3 class="product-name ">{{this.name}}</h3>
                                    </a>
                                    <div class="product-price font-weight-bold">
                                        <span>{{currencyFormat this.price}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation">
    </nav>
</div>

<script>
    $(document).ready(function() {
        
        var id = $('.product-list-header-title h3').attr("value");
        var url = window.location.pathname+'?page=productsByCat&id='+id;
         var selected = $('#sort-by');
         selected.change(function() {
            var data = $(this).children("option:selected").attr("data-filler");
            window.location.replace(url+data);
         });

    });
    window.onload = function() {
    var selItem = sessionStorage.getItem("SelItem");  
    $('#sort-by').val(selItem);
    }
    $('#sort-by').change(function() { 
        var selVal = $(this).val();
        sessionStorage.setItem("SelItem", selVal);
    });
</script>