<div class="layout-account">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-12 wrapbox-heading-account">
    <div class="header-page clearfix">
      <h1>Đăng ký tài khoản</h1>
    </div>
    </div>
    <div class="col-md-6 col-xs-12 wrapbox-content-account">
    <div class="userbox">
      {{#if message}}
        <div class="valid-feedback" style="display: block;">
          <h3>{{message}}</h3>
        </div>

      {{/if}}
          <form action="/account/register" id="create_customer" method="post">
            <div id="last_name" class="clearfix large_form">
              <label for="last_name" class="label icon-field"><i class="icon-login icon-user "></i></label>
              <input required type="text" value="" name="lastName" placeholder="Họ" id="last_name" class="text" size="30" />
            </div>
            <div id="first_name" class="clearfix large_form">
              <label for="first_name" class="label icon-field"><i class="icon-login icon-user "></i></label>
              <input required type="text" value="" name="firstName" placeholder="Tên" id="first_name" class="text" size="30" />
            </div>
            <div id="gender" class="clearfix large_form">
              <input id="radio1" type="radio" value="0" name="gender" /> 
              <label for="radio1">Nữ</label>
              <input id="radio2" type="radio" value="1" name="gender"/> 
              <label for="radio2">Nam</label>
            </div>
            <div id="birthday" class="clearfix large_form">
              <label for="birthday" class="label icon-field"><i class="icon-login icon-envelope "></i></label>
              <input  type="text" value="" placeholder="mm/dd/yyyy" name="birthday" id="birthday" class="text" size="30" />
            </div>
            <div id="email" class="clearfix large_form">
              <label for="email" class="label icon-field"><i class="icon-login icon-envelope "></i></label>
              <input required type="email" value="" placeholder="Email" name="email" id="email" class="text" size="30" />
            </div>
            {{#if emailError }}
              <div class="invalid-feedback" style="display: block;">
                <h5>email đã tồn tại!</h5>
              </div>
            {{/if}}
            <div id="password" class="clearfix large_form">
              <label for="password" class="label icon-field"><i class="icon-login icon-shield "></i></label>
              <input required type="password" value="" placeholder="Mật khẩu" name="password" id="password" class="password text" size="30" />
            </div>
            <div class="clearfix action_account_custommer">
              <div class="action_bottom button dark">
                <input class="btn" type="submit" value="Đăng ký" />			
              </div>						
            </div>
            <div class="clearfix req_pass">
              <a class="come-back" href="#"><i class="fa fa-long-arrow-left"></i> Quay lại trang chủ</a>
            </div>
          </form>
        </div>
    </div>
  </div>
  </div>
</div>