
/* cart */
.heading-page {
  position: relative;
  margin: 20px 0;
}
.heading-page::before {
  content: "";
  display: block;
  background-color: black;
  height: 4px;
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.cart-container {

  margin: 0 auto;
  width: 75%;
  padding-bottom: 30px;
}

.cart-wrapper {
  width: 100%;
}

.cart-item td {
  vertical-align: top;
}

.cart-wrapper .item-image {
  width: 110px;
  text-align: center;
}

.cart-wrapper .item-image img {
  width: 100%;
}

.cart-wrapper .cart-wrapper .cart-item {
  
  position: relative;
  padding-bottom: 20px;
}


.cart-wrapper .remove-item {
  position: absolute;
  right: 20px;
}

.cart-wrapper .item-info {
  font-size: 14px;
}
.cart-wrapper .item-info a {
  padding: 0;
}

.cart-wrapper .item-info > * {
  padding: 3px;
}


.cart-wrapper .product-name {
  padding: 0px;
  font-size: 16px;
  font-weight: bold;
  margin:0;
  max-width: 600px;

}

.cart-wrapper .item-amount {
  font-weight: 700;
}

.total-price b {
  padding-left: 10px;
}

/* buttons_added  */
.cart-wrapper .buttons_added {
  opacity:1;
  display:inline-block;
  display:-ms-inline-flexbox;
  display:inline-flex;
  white-space:nowrap;
  vertical-align:top;
}
.buttons_added .is-form {
  overflow:hidden;
  position:relative;
  background-color:#f9f9f9;
  height:30px;
  width:30px;
  padding:0;
  text-shadow:1px 1px 1px #fff;
  border:1px solid #ddd;
}
.buttons_added .is-form:focus,.input-text:focus {
  outline:none;
}
.buttons_added .is-form.minus {
  border-radius:4px 0 0 4px;
}
.buttons_added .is-form.plus {
  border-radius:0 4px 4px 0;
}
.input-qty {
  background-color:rgb(210, 209, 209);
  height:23px;
  width: 35px;
  text-align:center;
  font-size:15px;
  display:inline-block;
  vertical-align:top;
  margin:0;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  border-left:0;
  border-right:0;
  padding:0;
}
.buttons_added .input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
  -webkit-appearance:none;
  margin:0;
}

.cart-container .total-price b {
  font-size: 30px;
}


@media(max-width: 991px) {
  /* .col-12 {
      padding: px;
  } */
  .cart-container  {
      width: 100%;
  }
   .cart-item td {
      padding: 0px 5px;
  }
  .cart-wrapper .item-image {
     width: 75px;
     min-width: 75px;
     max-width: 75px;
     padding-top: 0px;
  }
  .cart-item .remove-item {
      right: 17px;
  }
 
  .cart-wrapper .product-name {
      min-width: 200px;
      max-width: 300px;
  
  }
}