
<div class="container-fluid">
   <div class="row">
    <div class="col-md-12 admin-wrapper">
      <div class="admin__header">
      <h3 class="admin__heading">Thêm Sản phẩm</h3>
      </div>  
      <div class="admin__work-space">
        <form enctype="multipart/form-data" action="/admin/products/add" method="post" id="main-form">
            <div class="card-body pb-0">
              
              <div class="row">
                
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                      <label>Chọn danh mục cha</label>
                      <select onchange="get_subcatid(this.value);"  class="form-control border-info" required>
                      <option value="">-- Chọn danh mục cha --</option>
                      {{#each categories}}
                        <option value="{{this._id}}">{{this.name}}</option>
                      {{/each}}
                      </select>
                    </div> 


                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                      <label>Chọn danh mục con</label>
                      <select id="subcategoryname" name="subCategory" class="form-control border-info">
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                      <label>Tên Sản phẩm</label>
                      <input  type="text" class="form-control" id="" name="name">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                      <label>Giá sản phẩm (VND)</label>
                      <input type="text" class="form-control" id="" name="price">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                      <label><h4 class="text-primary pt-0 pl-3">Avartar</h4></label>
                      <div class="ml-3 p-2" style="border:1px solid #EEEEEE;">
                      <input class="fs-17" type="file" name="avatar">
                    </div>     
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                      <label><h4 class="text-primary pt-0 pl-3">Hình ảnh thêm</h4></label>
                      <div class="ml-3 p-2" style="border:1px solid #EEEEEE;">
                      <input class="fs-17" type="file" name="moreImages" multiple>
                    </div>     
                    </div>
                  </div>             
                  <div class="row mb-3">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="btn-wrapper">
                        <input type="hidden" value="add_product">
                        <input id="" class="btn btn-success" type="submit" value="Thêm Sản phẩm">
                        <a class="btn btn-info" href="<?php echo $product->h->get_url('323goods/Admin/?page=product-list');  ?>">Trở Về</a>
                      </div>  
                    </div>
                  </div>
                </div>              
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                  
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <label for="txtdescription">Mô tả sản phẩm</label>
                      <textarea class="summernote form-control" name="description"></textarea>
                    </div>
                  </div>
              </div>     
            </div>   
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script language="JavaScript" type="text/javascript">
  function checkDelete(){
    return confirm('Are you sure?');
  }

  $(document).ready(function() {
    $('.summernote').summernote({
      height: 380,                 // set editor height
      minHeight: null,             // set minimum height of editor
      maxHeight: null,             // set maximum height of editor
      focus: false                 // set focus to editable area after 
    });
  });
  function get_subcatid(catid) {
    $.ajax({
      type: 'Get',
      url: 'http://localhost:3000/admin/products/subCategory',
      dataType: 'text',
      data: 'catid=' + catid,
      success: function(result) {
        $('#subcategoryname').html(result);
      }
    });
  }
</script>







<div class="container">
  <div class="row mt-5">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      
    </div>
  </div> </div>

<!-- <script type="text/javascript">CKEDITOR.replace('txt_content'); 
</script>  -->
<script>

</script>