<script>
		function goBack() {
 	 	window.history.back();
	}
</script>
<div class="container-fluid">
   <div class="row">
    <div class="col-md-12 admin-wrapper">
      <div class="admin__header">
      <h3 class="admin__heading">chi tiết sản phẩm:</h3>
      </div>  
      <h4> {{product.name}}</h4>
      <div class="admin__work-space">
      <form enctype="multipart/form-da5ta" action="/admin/products/{{product._id}}/detail/add" method="post" id="main-form">
        <div class="card">
          <div class="card-body pb-0">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <div class="radio">
                        <label>
                          <input class="detailcheck" type="radio" name="rdodetail" value="old" checked="checked">
                          Đã có trong hệ thống
                        </label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <div class="radio">
                        <label>
                          <input class="detailcheck" type="radio" name="rdodetail" value="new">
                          Thêm mới
                        </label>
                      </div>                                         
                    </div>
                  </div>
                  <div id="oldrow" class="row">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                    <label>Chọn Màu</label>
                    <select name="color" class="form-control border-info">
                    <option value="">Click để chọn màu</option>
										{{#each colors}}
                    	<option value="{{this._id}}">{{this.name}}</option>
										{{/each}}
                    </select>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                    <label>Chọn Size:</label>
                    <select name="size" class="form-control border-info">
                    <option value="">Click để chọn size</option>
										{{#each sizes}}
                    	<option value="{{this._id}}">{{this.name}}</option>
										{{/each}}
                    </select>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                      <label for="inStock">Số lượng:</label>
                      <input class="form-control" type="number" name="inStock" id="">
                    </div>  
                  </div>
                  <div id="newrow" class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                      <label for="newColor">Nhập màu mới:</label>
                      <input class="form-control" type="text" name="newColor" id="">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                      <label for="newSize">Nhập size mới:</label>
                      <input class="form-control" type="text" name="newSize" id="">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
                      <label for="newInStock">Số lượng:</label>
                      <input class="form-control" type="text" name="newInStock" id="">
                    </div>
                  </div>              
                <div class="row mb-3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="btn-wrapper">
                      <input type="hidden">
                      <input id="" class="btn btn-success" type="submit" value="Thêm">
                      <button class="btn btn-info"  onClick="goBack()" >Trở Về</button>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="card">
                <div class="card-header text-center">
                <h6>{{product.name}}</h6> 
                </div>
                <div class="card-body">
                <table class="table table-hover table-bordered text-center">
                  <thead>
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Màu</th>
                    <th scope="col">Size</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Hành động</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#each productDetails}}
                  <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.color.name}}</td>
                    <td>{{this.size.name}}</td>
                    <td>{{this.inStock}}</td>
                    <td>
                      <a id="update_detail" class="btn btn-primary mr-2" href="<?php echo $detail->h->get_url('323goods/Admin/?page=product-detail&id=' . $id . "&detail=" . $detailrow['detailID']) ?>">Sửa</a>
                      <a onclick="return checkDelete();" href="<?php echo $detail->h->get_url('323goods/Admin/?page=product-detail&id=' . $id . "&detailid=" . $detailrow['detailID']); ?>" class="btn btn-danger">Xoá</a>
                    </td>
                  </tr>
                  {{/each}}
                  </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<script language="JavaScript" type="text/javascript">
  function checkDelete(){
    return confirm('Are you sure?');
  }
  function showInput(){
      $("#detailcolor, #detailsize, #detailinstock").show();
    }

  $(document).ready(function() {
    $('.summernote').summernote({
      height: 380,                 // set editor height
      minHeight: null,             // set minimum height of editor
      maxHeight: null,             // set maximum height of editor
      focus: false                 // set focus to editable area after 
    });
    $('#newrow').hide();
    $('.detailcheck').change(function (e) { 
      switch ($(this).val()) {
        case 'old': {
          $('#oldrow').fadeIn();
          $('#newrow').hide();
          break;
        }
        case 'new': {
          $('#oldrow').hide();
          $('#newrow').fadeIn();
          break;
        }
        default: {
          $('#oldrow').fadein();
          $('#newrow').hide();
        }
      }
      
    });
  });
  function getProductDetail() {
    $.ajax({
      type: 'Get',
      url: 'http://localhost:3000/323goods/Admin/detail',
      dataType: 'text',
      data: 'catid=' + catid,
      success: function(result) {
        $('#subcategoryname').html(result);
      }
    });
  }

</script>