<link rel="stylesheet" href="../sorter/css/theme.bootstrap_4.css">
<div class="container-fluid">
     <div class="row">
        <div class="col-md-12 admin-wrapper">
          <div class="admin__header">
            <h3 class="admin__heading">Danh sách Sản phẩm</h3>
          </div>  
          <div class="admin__work-space">
            <div class="admin__search-bar row mb-0">
              <div class="mr-3 col-12">
                <a href="/admin/products/add" class="btn btn-primary"><i class="fas fa-plus"></i> Thêm sản phẩm</a>
              </div>
              <div class=" col-12 row">
                <div class="col-3 form-group">
                  <input class="form-control mt-4" type="text" name="txtsearch" id="search-product" onkeyup="showResult(this.value,1)" placeholder="Tìm kiếm...">
                </div>
                <div class="col-6"></div>
                <div class="col-3">
                  <div class="btn-group float-right mt-4">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sắp xếp sản phẩm
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="<?php echo $product->h->get_url('323goods/Admin/?page=sort-list&filter=price-dsc'); ?>">Giá giảm dần</a>
                      <a class="dropdown-item" href="<?php echo $product->h->get_url('323goods/Admin/?page=sort-list&filter=price-asc'); ?>">Giá tăng dần</a>
                      <a class="dropdown-item" href="<?php echo $product->h->get_url('323goods/Admin/?page=sort-list&filter=create-dsc'); ?>">Sản phẩm mới nhất</a>
                      <a class="dropdown-item" href="<?php echo $product->h->get_url('323goods/Admin/?page=sort-list&filter=create-asc'); ?>">Sản phẩm cũ nhất</a>
                      <a class="dropdown-item" href="<?php echo $product->h->get_url('323goods/Admin/?page=sort-list&filter=update-dsc'); ?>">Cập nhật mới nhất</a>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div id="table-wrapper">
              <table class="table table-hover table-bordered mt-3" id="product_table">
                <thead class="thead-light">
                    <tr>
                        <th>STT</th>
                        <th><a class="column-sort" id="byName" data-order="desc">Tên Sản phẩm</a></th>
                        <th>Avatar</th>
                        <th>Danh mục</th>
                        <th><a class="column-sort" id="byPrice" data-order="desc" href="#">Giá</a></th>
                        <th>Hành Động</th>
                    </tr>
                </thead>
                <tbody id="product-wraper">
                   {{#each products}}
                    <tr>
                        <th>{{sum @index 1}}</th>
                        <td class="m-t-5">{{this.name}}</td>
                        <td>
                            
                            <img class="img-thumbnail mx-auto d-block "  style="width: 50px; height: 50px;" src="/images/{{this.avatar}}" alt="image">
                            
                        </td>
                        <td>{{this.subCategory.name}}</td>
                        <td>{{this.price}} đ</td>
                        <td>
                            <a target="_blank" href="/admin/products/{{this._id}}/detail"><span class="btn btn-secondary"><i class="fas fa-info-circle fs-20"></i></span></a>
                            <a href="/admin/products/{{this._id}}/edit"><span class="btn btn-primary"><i class="fas fa-edit fs-20"></i></span></a>
                            <a href="/admin/products/{{this._id}}/delete?_method=DELETE" onclick="return checkDelete();"><span class="btn btn-danger"><i class="fas fa-ban fs-20"></i></span></a>
                        </td>
                    </tr>
                   {{/each}}
                </tbody>
              </table>
              <div id="pagination">
                {{{products.pagination.[2]}}}
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


<script language="JavaScript" type="text/javascript">
  function convertFormatPrice(number) {
    return  new Intl.NumberFormat('vi', {
       style: 'currency',
       currency: 'VND'
       }).format(number);
    }

    function checkDelete(){
          return confirm('Bạn có chắc chắn muốn xoá sản phẩm này?');
    }
    // $(document).ready(function () {
    //   $('#product_table').tablesorter();
    // });

  function showResult(str,page) {
        var xmlhttp = new XMLHttpRequest();
        var paging = $('#pagination');
        const listProducts = $('#table-wrapper tbody');
        xmlhttp.onreadystatechange = function() {
            if(this.readyState == 4 && this.status == 200) {
              const products = JSON.parse(this.responseText);
              console.log(products.length);
              let currentPage = page;
              let rows = 5;
              displayProduct(products,listProducts,paging,rows,currentPage);
            }
        }
        xmlhttp.open("GET","/search/products/:id"+str,true);
        xmlhttp.send();
        for(let i = 0; i< products.length;i++) {
         products[i].productID;
         products[2].categoryname;
        }
    }
</script>
