<div id="login-wrapper">
   <div class="container ">
      <div class="row">  
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row d-flex justify-content-center mt-5">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mt-5">
               <div class="card login-form">
                  <div class="card-body text-center">
                     <h2 class="card-title mt-3 mb-3" style="color:#5b3693">Đăng Nhập</h2>
                     <div class="container mt-5">
                        <form id="form-login" action="" method="post">
                           <div class="form-group row">     
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                 <input type="text" class="form-control" name="email" placeholder="Tên đăng nhập" value="">
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                                 <input type="password" class="form-control" name="password" placeholder="Mật khẩu">
                               
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 text-left">
                                 <a href="#" class="text-dark text-decoration-none">Bạn quên mật khẩu</a>
                              </div>
                           </div>
                           <div class="form-group row mt-5 mb-3">
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left mt-2 mb-5">
                                 <a href="#" class="text-dark text-decoration-none">Tạo tài khoản</a>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right mb-5">
                                 <input type="hidden" name="request_name" value="login">
                                 <button type="submit" name="btnLogin" class="btn btn-login text-white">Đăng nhập<i class="fas fa-lock pl-2"></i></button>
                              </div>
                           </div>

                           <div class="error_tag text-danger"><p class="">{{error}}</p></div>
                        </form>
                     </div>
                  </div>
                  <div id="cpr">
                     <p style="font-size: 12px;text-align:center;" class="text-secondary">&copy; 2020 NewHusky by Trần Cảnh Quân <p>
                  </div>
               </div>
               </div>
            </div>
         </div>
         
      </div>
      
   </div>
</div>
