<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Quản Trị</title>
    <link rel="stylesheet" href="../../../css/bootstrap-4.3.1.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/util.css">
    <!-- all.css gọi thư viện font-awesome -->
    <link rel="stylesheet" href="../../../Fontawesome/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="../../../css/jquery-ui.min.css">
    <link rel="stylesheet" href="../../../css/icons.css">
    <link rel="stylesheet" href="../../../css/menu.css">
    <link rel="stylesheet" href="../../../css/animate.css">
    <link rel="stylesheet" href="../../../css/admin-page.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <script src="../../../Js/jquery-3.4.1.min.js">
    </script>
    <script src="../../../Js/popper.min.js"></script>
    <script src="../../../Js/jquery.validate.js"></script>
    <!-- Custom styles for this template-->
    <link href="../../../SBA/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Summernote -->
    <link rel="stylesheet" href="../../../summernote/summernote-bs4.min.css">
</head>
<body id="page-top">
    <div id="wrapper">
        {{> admin/site}}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {{> admin/header}}
                <!-- Content Row -->
                {{{body}}}
                {{!-- footer --}}
                {{> admin/footer}}
            </div>

        </div>
    </div> 
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Đăng xuất</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Bạn có muốn đăng xuất hay không ?</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
          <a class="btn btn-primary" href="<?php echo $user->h->get_url('323goods/admin/?m=common&a=logout'); ?>">Đăng xuất</a>
        </div>
      </div>
    </div>
  </div>
</body>
    <script src="../../../Js/jquery-3.4.1.min.js">
    </script>
    <script src="../../../Js/popper.min.js"></script>

    <!-- js of dataTable  -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <!-- end js of dataTable  -->

    <script src="../../../Js/bootstrap-4.3.1.js"></script>
    <script src="../../../Js/jquery.validate.js"></script>
    <script src="../../../Js/jquery-ui.min.js"></script>
    <script src="../../../Js/admin-main.js"></script>
    <script src="../../../summernote/summernote-bs4.min.js"></script>
    <script src="../../../SBA/js/sb-admin-2.min.js"></script> 
</html>


