html {
  font-size: 15px; }

* {
  font-family: 'Quicksand', sans-serif; }

.topbar-content {
  background-color: #f3f3f3;
  font-size: 13px;
  height: 30px;
  line-height: 30px; }

.main-body {
  position: relative;
  right: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -ms-transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.main-body.sidebar-move {
  right: 480px; }

.main-header {
  padding: 0 60px;
  position: relative; }

.header-mid {
  padding: 20px 0px 10px 0px;
  align-items: center;
  margin: 0; }

.header-wrap-logo img {
  width: 170px; }

.header-wrap-icon-item {
  font-size: 22px;
  padding: 0 5px;
  position: relative; }

.header-wrap-icon-item span {
  font-size: 10px;
  top: -8px;
  right: -8px;
  color: white;
  border-radius: 7px;
  position: absolute;
  background-color: black;
  padding: 1px 3px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px; }

.header-wrap-icon__link {
  color: black; }

.header-wrap-icon__link:hover {
  opacity: 0.7;
  color: black; }

/* main Nav */
.main-nav .clearfix {
  margin: 0;
  align-items: center; }

.main-nav__list-category-item {
  position: relative;
  display: inline-block;
  padding-right: 20px; }

.main-nav__list-category-item:hover .subCategory_menu {
  opacity: 1;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1); }

.main-nav__list-category-item:hover .fa-chevron-down {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg); }

.fa-chevron-down {
  padding-left: 10px;
  font-size: 12px;
  align-self: center;
  transform-origin: 75% 50% 0;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out; }

.main-nav ul li {
  list-style: none; }

a {
  color: #050505;
  font-weight: 500; }

a:hover {
  text-decoration: none;
  color: #3f87ff; }

.main-nav__list-category-link {
  position: relative;
  display: block;
  padding: 10px 0px 15px; }

.main-nav__list-category-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #050505;
  bottom: -1px;
  opacity: 0;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: transform 0.3s, opacity 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: transform 0.3s, opacity 0.3s;
  -ms-transition: transform 0.3s, opacity 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s; }

.main-nav__list-category-link:hover::before {
  opacity: 1;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1); }

.main-nav__list-category-link:active::before {
  opacity: 1;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1); }

/* main-nav fixed */
#logo-fixed {
  display: none; }

.main-header.fixed-view {
  position: fixed;
  z-index: 444;
  background-color: white;
  width: 100%;
  animation: fadeInDown 0.5s both;
  -webkit-animation: fadeInDown 0.5s both; }

.main-header.fixed-view .header-wrap-logo {
  display: none !important; }

.main-header.fixed-view .header-wrap-icon {
  position: absolute;
  top: 42px;
  right: 60px; }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.topbar-content.fixed-view {
  position: fixed;
  color: black;
  z-index: 445;
  min-width: 100%;
  max-width: max-content;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  animation: fadeInDown 0.5s both;
  -webkit-animation: fadeInDown 0.5s both; }

/* subCategory menu */
.subCategory_menu {
  z-index: 10;
  position: absolute;
  top: 47px;
  width: max-content;
  padding: 0;
  text-align: left;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  opacity: 0;
  -webkit-transform: rotate3d(1, 0, 0, -90deg);
  transform: rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transform: rotate3d(1, 0, 0, -90deg);
  -ms-transform: rotate3d(1, 0, 0, -90deg);
  -o-transform: rotate3d(1, 0, 0, -90deg); }

.subCategory_menu::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  background-color: #050505; }

.subCategory_menu li {
  padding: 10px;
  border-top: 1px solid #e3e3e3; }

/* section */
/* Carosel */
.owl-carousel .owl-item .item img {
  width: 100%; }

/* site  */
.site-nav {
  position: fixed;
  width: 480px;
  height: 100vh;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 8888;
  overflow: hidden;
  -ms-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.site-nav.active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0); }

.site-nav.show-cart #site-cart {
  display: block; }

.site-nav.show-search #site-search {
  display: block; }

.site-nav.show-nav-mobile #site-nav-mobile {
  display: block; }

#site-search {
  display: none; }

#site-cart {
  display: none; }

.site-nav-container {
  background-color: white;
  width: 30%;
  height: 100%;
  display: block; }

.site-nav-container-last {
  position: absolute;
  padding: 80px 70px 250px;
  color: #050505;
  font-size: 15px;
  font-weight: 500;
  width: 100%; }

.site-nav-container-last .title {
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px; }

.cart-view table {
  width: 90%;
  margin: auto; }

.cart-view .item {
  display: flex; }

.cart-view .item .img {
  width: 30%; }

/* @keyframes growth {
  from {
    font-size: inherit;
  }
  to {
    font-size: 150%;
}
} */
.site-close-handle {
  position: absolute;
  font-size: 25px;
  top: 70px;
  right: 85px;
  border: none;
  background-color: transparent;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s; }

.site-close-handle:hover {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2); }

.cart-view img {
  width: 100%;
  padding: 25px 0px 0px 0px; }

.cart-view .detail {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px; }

.cart-view .attribute-value {
  font-size: 15px;
  opacity: 0.5; }

.cart-view .price-wrapper {
  display: flex;
  justify-content: space-between; }

.cart-view .quantity-view {
  background-color: #b8b6b6;
  padding: 0px 7px; }

.cart-view .price-view {
  color: #050505;
  font-size: 14px; }

.cart-view .remove_cart-item {
  position: absolute;
  right: 0; }

.cart-view .table-total {
  margin: 10px;
  border-top: 2px solid black;
  padding-top: 20px; }

.cart-view .table-total tr {
  height: 60px; }

.cart-view .btn-dark {
  width: 100%;
  height: 50px;
  line-height: 40px; }

/* /search view */
.seacrh-view {
  padding: 0 20px; }

.result-content .title {
  font-size: 12px;
  text-transform: uppercase;
  padding: 0; }

.result-content .price {
  font-size: 12px;
  color: #6e6e6e; }

.result-content .thumb img {
  width: 40px; }

.site-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 7777;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms linear; }

.site-overlay.active {
  opacity: 1;
  visibility: visible; }

/* site-menu-mobile */
.navbar-mobile .private-menu ul li {
  list-style: none;
  font-size: 16px; }

.menu-category .item {
  margin: 10px; }

.menu-category .item > a,
.menu-category .item > span i {
  font-weight: 700; }

.menu-category .icon-has-sub {
  float: right;
  font-size: 25px;
  line-height: 10px;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%); }

.menu-category .icon-has-sub:hover {
  color: #3f87ff; }

.private-menu ul {
  padding-left: 20px; }

.menu-category .sub-menu {
  display: none;
  transform-origin: 50 50 0; }

@keyframes growth {
  from {
    transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1); }
  to {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1); } }

.item.active .sub-menu {
  display: block;
  animation: growth 1s;
  -webkit-animation: growth 1s; }

/* collection product */
.section-collection_heading {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin: 30px;
  font-weight: 500;
  font-size: 37px; }

.section-collection .owl-dots .owl-dot {
  display: none; }

.section-collection .owl-nav .owl-prev {
  left: 1%; }

.section-collection .owl-nav .owl-next {
  right: 1%; }

.input-group {
  margin: 15px 0px; }

.input-group .input-group-addon {
  padding: 6px 10px;
  border-radius: 0;
  color: #DAD9D9;
  background-color: #ebebeb;
  border-color: #ebebeb; }

.section-collection .owl-nav button {
  position: absolute;
  top: 40%;
  transform: translateY(-30%) !important;
  font-size: 0;
  border: none;
  border-radius: 50% !important;
  background: #fff !important;
  cursor: pointer;
  text-align: center;
  z-index: 1;
  -webkit-box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15);
  box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15);
  vertical-align: middle;
  line-height: 0;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  -webkit-transform: translateY(-30%) !important;
  -moz-transform: translateY(-30%) !important;
  -ms-transform: translateY(-30%) !important;
  -o-transform: translateY(-30%) !important;
  justify-content: center; }

.section-collection .owl-nav [class*='owl-']::before {
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  font-size: 25px; }

.section-collection .owl-nav [class*='owl-'] span {
  position: absolute;
  top: 50%;
  right: calc(50% - 4px);
  font-size: 30px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%); }

.section-collection .owl-nav [class*='owl-']:hover {
  color: currentColor; }

.section-collection .product-block {
  height: inherit; }

.section-collection .product-detail {
  text-align: center;
  font-size: 14px;
  color: #050505;
  padding-top: 10px; }

.section-collection .product-price {
  font-weight: 600; }

/* Footer */
footer {
  background-color: #f3f3f3; }

footer .social-btn img {
  width: 20px; }

.search-bar-mobile {
  display: none;
  position: relative; }

.search-bar-mobile .smart-search-result {
  position: absolute;
  z-index: 1;
  bottom: -10px;
  width: 100%; }

.search-bar-mobile .result-content {
  background-color: white;
  position: absolute;
  width: 100%;
  padding: 5px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 18px 20px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 18px 20px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 18px 20px -8px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px; }

/* product-detail */
.product-detail-wrapper {
  margin-top: 20px; }

.product-option * {
  margin: 0 0 10px 0; }

.product-detail-thumb {
  padding: 10px; }

.product-detail-all-images {
  width: 100%;
  margin: 0; }

.image-item {
  padding: 10px; }

.product-detail-all-images img {
  width: 100%; }

.image-item:hover {
  cursor: pointer; }

.color-list-select,
.size-list-select {
  display: flex; }

.list-select-item label {
  display: block;
  height: 35px;
  min-width: 35px;
  margin: 0 0 0 10px;
  width: max-content;
  border: solid 1px #050505;
  /* line-height: 35px; */
  padding: 5px;
  cursor: pointer;
  text-align: center; }

.list-select-item input {
  display: none; }

.list-select-item.active label {
  background-color: black;
  color: white; }

.product-info-wrapper > * {
  border-bottom: solid 1px #d3d3d3;
  padding: 15px 0; }

.product-name h3 {
  margin-bottom: 0px;
  font-size: 20px; }

.product-parameter {
  font-weight: 500;
  color: #949494; }

.product-price {
  font-size: 25px; }

.button-added.product-detail > * {
  height: 30px;
  width: 40px; }

.heading-added {
  display: inline;
  width: 150px;
  padding-right: 10px; }

.button-added.product-detail .input-qty {
  width: 60px;
  background-color: white; }

.btn-add-to-cart {
  height: 50px; }

@media (max-width: 767px) {
  /* .header-mid {
    position: fixed;
    z-index: 100;
  } */
  .search-bar-mobile {
    display: block;
    margin: 20px; }
  .search-bar-mobile .wrapper {
    display: flex; }
  .search-bar-mobile .header-wrap-logo {
    float: left;
    justify-content: left !important; }
  .header-wrap-icon {
    float: right; }
  .main-header {
    padding: 10px; }
  .header-wrap-logo img {
    max-width: 170px; }
  .site-nav {
    width: 80vw; }
  .site-nav .site-nav-container-last {
    padding: 30px; }
  .site-nav .site-close-handle {
    right: 35px;
    top: 30px; }
  .main-header.fixed-view {
    position: fixed;
    z-index: 444;
    background-color: white;
    width: 100%;
    top: 0;
    padding: 0px;
    animation: fadeInDown 0.5s both;
    -webkit-animation: fadeInDown 0.5s both; }
  .main-header.fixed-view .header-mid {
    padding: 0; }
  .main-header.fixed-view .header-wrap-logo {
    display: block !important;
    width: 60px; }
  .main-header.fixed-view .header-wrap-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%); }
  .topbar-content.fixed-view {
    display: none; }
  .section-collection_heading {
    margin: 15px;
    font-size: 25px; } }

/* policy */
.policy-icon i {
  font-size: 40px;
  margin: 15px 0; }

.policy-content p {
  font-size: 12px; }

.policy-wrapper .col-3:hover {
  background-color: #e0e0e0; }

/* pagination */
.page-item {
  margin: 0 5px; }

/* login - register */
@media (min-width: 992px) {
  .wrapbox-heading-account {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-right: 1px solid #ededed;
    height: 100vh;
    padding: 0; }
  .wrapbox-heading-account .header-page {
    padding-bottom: 70px; } }

@media (min-width: 1200px) {
  .wrapbox-heading-account .header-page {
    width: 60%; }
  .wrapbox-content-account {
    padding: 100px; } }

.wrapbox-heading-account {
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.wrapbox-heading-account .header-page {
  position: relative; }

.wrapbox-heading-account .header-page h1 {
  font-size: 54px;
  font-weight: 700;
  margin: 0px 0;
  line-height: initial; }

.large_form {
  margin-bottom: 30px; }

.req_pass {
  color: #959898;
  font-weight: 500; }

.userbox input[type=email], .userbox input[type=password], .userbox input[type=text] {
  width: 100%;
  height: 55px;
  border: 1px solid transparent;
  background: #ededed;
  color: #050505;
  padding: 0 20px;
  font-weight: 500;
  -webkit-appearance: none; }

#gender input[type="radio"] + label {
  position: relative;
  cursor: pointer;
  padding-left: 28px;
  margin: 0 20px 0 0; }

.userbox .action_bottom .btn {
  display: inline-block;
  border-radius: 0;
  padding: 0 30px;
  height: 55px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: 600;
  background: transparent; }

.userbox .action_bottom {
  padding: 0; }

.action_account_custommer .action_bottom, .action_account_custommer .req_pass {
  display: inline-block;
  vertical-align: middle; }

.button.dark {
  color: #fff;
  border-color: #bfc7c7; }

.button {
  position: relative;
  display: inline-block;
  padding: 10px 28px;
  line-height: normal;
  border: 1px solid #ffffff;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  background-color: transparent;
  -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  color: #050505;
  overflow: hidden; }

.button:hover:before {
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1); }

.button.dark:before {
  background-color: #bfc7c7; }

.button:before {
  position: absolute;
  content: '';
  display: block;
  left: -2px;
  top: 0;
  right: -2px;
  bottom: 0;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  z-index: -1;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.userbox input[type=email]:focus, .userbox input[type=password]:focus, .userbox input[type=text]:focus {
  background: #fff;
  border-color: #ededed;
  outline: none; }

#gender input[type="radio"] + label {
  position: relative;
  cursor: pointer;
  padding-left: 28px;
  margin: 0 20px 0 0; }

#gender input[type="radio"] + label:before {
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: #bfc7c7;
  -moz-box-shadow: inset 0 0 0 18px #efefef;
  -webkit-box-shadow: inset 0 0 0 18px #efefef;
  box-shadow: inset 0 0 0 18px #efefef; }

#gender input[type="radio"] + label:before, input[type="radio"] + label:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#gender input[type="radio"] + label:after {
  top: 49%;
  left: 9px;
  width: 54px;
  height: 54px;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0); }

#gender input[type="radio"]:checked + label:before {
  -moz-box-shadow: inset 0 0 0 4px #efefef;
  /* -webkit-box-shadow: inset 0 0 0 4px #efefef; */
  box-shadow: inset 0 0 0 4px #efefef; }

.req_pass {
  color: #959898;
  font-weight: 500; }

.come-back {
  margin-top: 35px;
  display: block;
  font-weight: 500; }

a {
  transition: opacity 150ms linear, color 150ms linear, background 150ms linear; }

.action_account_custommer .req_pass {
  margin-left: 20px; }

.action_account_custommer .action_bottom, .action_account_custommer .req_pass {
  display: inline-block;
  vertical-align: middle; }

.layout-info-account {
  padding-bottom: 50px; }

.title-infor-account {
  padding: 30px 15px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 60px; }

.title-infor-account h1 {
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  text-align: center; }

.title-infor-account h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  margin: 50px auto 0;
  background: #252a2b; }

.AccountTitle {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative; }

.AccountList ul > li > a {
  display: block;
  position: relative;
  padding: 5px 0px; }

.AccountList ul > li > a:before {
  content: "\f192";
  font-family: "FontAwesome";
  font-size: 8px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: 2px; }

.title-detail {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
  border-bottom: 1px solid #ededed;
  padding-bottom: 8px; }

p {
  margin: 0 0 10px 0;
  line-height: 21px; }

.name_account {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin: 10px 0 5px; }

.address p {
  margin-bottom: 5px; }

#customer_sidebar p {
  margin-bottom: 0;
  font-size: 14px; }

.customer-table-wrap {
  background: #f7f7f7;
  padding: 10px; }

.customer-table-bg {
  background: #fff;
  padding: 10px; }

#customer_orders table, #order_details {
  width: 100%;
  background: #fff; }

table {
  width: 100%;
  border-spacing: 0; }

#customer_orders, #order_payment, #order_shipping {
  margin-bottom: 30px;
  margin-top: 30px; }

p.address_actions.text-right {
  margin: 7px 5px 0px 0;
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0; }

strong {
  font-weight: 700; }

.address_title {
  margin-bottom: 0;
  font-size: 16px;
  padding: 10px 0 10px 10px;
  background-color: #d9edf7;
  border-color: #bce8f1;
  position: relative; }

.address_table {
  margin-bottom: 10px;
  border-top: 0px solid #ddd;
  background: #fafafa;
  padding: 15px; }

.address_title h3 {
  margin: 0;
  font-size: 14px; }

.add-new-address {
  padding-bottom: 10px;
  display: inline-block;
  padding: 10px;
  background: #bfc7c7;
  color: #fff !important;
  text-transform: uppercase; }

.glyphicon {
  font-family: "Glyphicons Halflings" !important; }

.layout-info-account .action_bottom .btn {
  height: 35px;
  line-height: 35px;
  outline: 0;
  margin-right: 5px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 30px;
  border: 0;
  background: #bfc7c7;
  color: #fff;
  display: inline-block;
  border-radius: 0; }

a:active {
  outline: none; }

.subCategory_menu li {
  padding: 10px;
  border-top: 1px solid #e3e3e3; }
