<div class="container-fluid">
     <div class="row">
        <div class="col-md-12 admin-wrapper">
          <div class="admin__header">
            <h3 class="admin__heading">Thêm mới Danh mục con</h3>
          </div>  
          <div class="admin__work-space">
              <form novalidate action="/admin/subCategories/add" class="form-add-item needs-validation" method="POST">
                   <div class="form-group">
                    <label for="name">Tên danh mục con:</label>
                    <input type="text" class="form-control" id="name" placeholder="Nhập tên danh mục con" name="name" required>
                    <div class="invalid-feedback">Vui lòng điền vào trường này</div>
                  </div>
                  <div class="form-group">
                    <label for="description">Mô tả:</label>
                    <input type="text" class="form-control" id="description" placeholder="mô tả" name="description" required>
                    <div class="invalid-feedback">Vui lòng điền vào trường này</div>
                      {{#if nameError}}
                        <h5 class=".text-danger">Tên danh mục con đã tồn tại!</h5>
                      {{/if}}
                  </div>
                  <div class="form-group">
                    <label for="category">Danh mục cha</label>
                      <select id="" class="form-control" name="category" required>
                        <option value="">--chọn loại tin--</option>
                          {{#each categories}}
                          <option value="{{this._id}}">{{this.name}}</option>
                          {{/each}}
                      </select>
                      <div class="invalid-feedback">Vui lòng chọn danh mục cha</div>
                    {{#if categoryError}}
                      <h5 class="text-danger">vui lòng chọn danh mục cha!</h5>
                    {{/if}}
                  </div>

                  <div class="row mb-3">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="btn-wrapper">
                        <input class="btn btn-success" type="submit" value="Thêm">
                        <a href="/admin/subcategories" class="btn btn-info">Quay lại</a>
                      </div>
                    </div>
                  </div>
              </form>
          </div>
        </div>
    </div>
</div>

<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>