
<div class="container-fluid">
     <div class="row">
        <div class="col-md-12 admin-wrapper">
          <div class="admin__header">
            <h3 class="admin__heading">Danh sách Danh mục con</h3>
          </div>  
          <div class="admin__work-space">
            <div class="admin__search-bar">
              <div class="mb-3">
                
                <a href="/admin/subcategories/add" class="btn btn-primary"><i class="fas fa-plus"></i> Thêm mới</a>
              </div>
            <input type="text" class="search-item__input" placeholder="Tìm kiếm">
            </div>
            <table class="table table-hover table-bordered mt-3">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Tên danh mục con</th>
                                <th>Tên danh mục cha</th>
                                <th>Mô tả</th>
                                <th>Hành Động</th>
                            </tr>
                        </thead>
                        <tbody>
                          {{#each subCategories}}
                            <tr>
                                <th>{{sum @index 1}}</th>
                                <td>{{this.name}}</td>
                                <td>{{this.category.name}}</td>
                                <td>{{this.description}}</td>
                                <td>
                                    <a href="/admin/subcategories/{{this._id}}/edit"><span class="btn btn-primary"><i class="fas fa-edit fs-20"></i></span></a>
                                    <a onclick="return checkDelete();" href="<?php echo $subcat->h->get_url('try3006/admin/?page=sub-list&id=' . $row['subcategoryid']); ?>" ><span class="btn btn-danger"><i class="fas fa-ban fs-20"></i></span></a>
                                </td>
                            </tr>
                          {{/each}}
                        </tbody>
                    </table>
                  <div><?php echo $paging_html; ?></div>
          </div>
        </div>
    </div>
</div>

<script language="JavaScript" type="text/javascript">
  function checkDelete(){
        return confirm('Are you sure?');
  }
</script>