   <!-- Footer -->
<footer class=" page-footer font-small mdb-color pt-4">

 <!-- Footer Links -->
 <div class="container-fluid text-center text-md-left">

   <!-- Footer links -->
   <div class="row text-center text-md-left mt-3 pb-3">

     <!-- Grid column -->
     <div class="col-md-6 col-lg-4 col-xl-3 mx-auto mt-3">
       <h5 class="text-uppercase mb-4 font-weight-bold">Công ty</h5>
       <p>
         <a href="#!">Giới thiệu về New Husky fashion</a>
       </p>
       <p>
         <a href="#!">Hệ thống cửa hàng</a>
       </p>
       <p>
         <a href="#!">Thông tin tuyển dụng</a>
       </p>
     </div>
     <!-- Grid column -->

     <hr class="w-100 clearfix d-md-none">

     <!-- Grid column -->
     <div class="col-md-6 col-lg-2 col-xl-3 mx-auto mt-3">
       <h5 class="text-uppercase mb-4 font-weight-bold">Chính sách khách hàng</h5>
       <p>
         <a href="#!">Chính sách khách hàng thường xuyên</a>
       </p>
       <p>
         <a href="#!">Chính sách đổi trả</a>
       </p>
       <p>
         <a href="#!">Chính sách bảo hành</a>
       </p>
       <p>
         <a href="#!">Câu hỏi thường gặp</a>
       </p>
     </div>
     <!-- Grid column -->

     <hr class="w-100 clearfix d-md-none">

     <!-- Grid column -->
     <div class="col-md-6 col-lg-2 col-xl-3 mx-auto mt-3">
       <h5 class="text-uppercase mb-4 font-weight-bold">Useful links</h5>
       <p>
         <a href="#!">Your Account</a>
       </p>
       <p>
         <a href="#!">Trở thành đối tác</a>
       </p>
       <p>
         <a href="#!">Giá cước vận chuyển</a>
       </p>
       <p>
         <a class="text-danger" href="#!">Trợ giúp?</a>
       </p>
     </div>

     <!-- Grid column -->
     <hr class="w-100 clearfix d-md-none">

     <!-- Grid column -->
     <div class="col-md-6 col-lg-4 col-xl-3 mx-auto mt-3">
       <h5 class="text-uppercase mb-4 font-weight-bold">Liên hệ</h5>
       <p>
         <i class="fas fa-home mr-3"></i> VKU University,Dormitory 1 - Area K, room 323</p>
       <p>
         <i class="fas fa-envelope mr-3"></i> info@New Husky fashion.com</p>
       <p>
         <i class="fas fa-phone mr-3"></i> + 0987 986 985</p>
       <p>
         <i class="fas fa-print mr-3"></i> + 0987 985 986</p>
     </div>
     <!-- Grid column -->

   </div>
   <!-- Footer links -->

   <hr>

   <!-- Grid row -->
   <div class="row d-flex align-items-center">

     <!-- Grid column -->
     <div class="col-md-7 col-lg-8">

       <!--Copyright-->
       <p class="text-center text-md-left">© 2020 Copyright:
         <a href="https://mdbootstrap.com/">
           <strong> New Husky fashion.com</strong>
         </a>
       </p>

     </div>
     <!-- Grid column -->

     <!-- Grid column -->
     <div class="col-md-5 col-lg-4 ml-lg-0">

       <!-- Social buttons -->
       <div class="social-btn text-center text-md-right">
         <ul class="list-unstyled list-inline">
           <li class="list-inline-item">
             <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <img src="public/Images/New Husky fashion/images/icon/facebook.png" alt="">
             </a>
           </li>
           <li class="list-inline-item">
             <a class="btn-floating btn-sm rgba-white-slight mx-1">
               <img src="public/Images/New Husky fashion/images/icon/instagram.png" alt="">
             </a>
           </li>
           <li class="list-inline-item">
             <a class="btn-floating btn-sm rgba-white-slight mx-1">
               <img src="public/Images/New Husky fashion/images/icon/zalo.png" alt="">
             </a>
           </li>
           <li class="list-inline-item">
             <a class="btn-floating btn-sm rgba-white-slight mx-1">
               <img src="public/Images/New Husky fashion/images/icon/tiktok.png" alt="">
             </a>
           </li>
         </ul>
       </div>

     </div>
     <!-- Grid column -->

   </div>
   <!-- Grid row -->

 </div>
 <!-- Footer Links -->

</footer>
