

<div id="topbar" class="topbar">
    <div class="topbar-content text-center">
      <p>
        Hotline mua hàng 
        <a href="tel:093 542 6117" class="topbar-tel__link text-danger">093 542 6117</a>
          | Hotline CSKH: <b>1900 100 chưa có </b>
          | Email: girumod@newhusky.com
      </p>
    </div>
</div>
<header id="main-header" class="main-header shadow-sm">
  <div class="header-mid row"> 
    <div class="d-none d-md-block col-md-3 col-lg-3">
    </div>
    <div class="header-wrap-logo d-flex justify-content-center col-9 col-sm-9 col-md-6 col-lg-6">
      <a href="/">
        <img  src="/images/statics/NewHusky.png" alt="">
      </a>
    </div>
    <div class="header-wrap-icon d-flex justify-content-end col-3 col-sm-3 col-md-3 col-lg-3">
      <div class="header-wrap-icon-item">
      {{#if user}}
        <a href="/account" class="header-wrap-icon__link">
          <i class="fas fa-user-circle"></i>
        </a>
      {{else}}
        <a href="/account/login" class="header-wrap-icon__link">
          <i class="fas fa-user-circle"></i>
        </a>   
      {{/if}}
      </div>
      <div id="header-search" class="header-wrap-icon-item d-none d-md-block">
        <a href="javascript:void()" class="header-wrap-icon__link">
          <i class="fas fa-search"></i>
        </a>
      </div>
      <div id="header-cart" class="header-wrap-icon-item">
        <a href="javascript:void();" class="header-wrap-icon__link">
          <i class="fas fa-shopping-cart"></i>
          <span>0</span>
        </a>
      </div>
      <div id="header-nav-mobile" class="header-wrap-icon-item d-block d-md-none m-l-4">
        <a href="javascript:void();" class="header-wrap-icon__link">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </div>
  <div class="header__navbar">
    <nav class="main-nav text-center d-none d-md-block d-lg-block d-xl-block">    
      <ul class="clearfix">
        <img style="width:120px;" id="logo-fixed" class="float-left" src="/images/statics/NewHusky.png" alt="">
        {{#each categories}}
             <li class="main-nav__list-category-item">
                <a href="/products/productByCat/{{this._id}}" class="main-nav__list-category-link">
                    {{this.name}}
                    <i class="fa fa-chevron-down" aria-hidden="false"></i>
                  </a>
                <ul class="subCategory_menu">
                    {{#each this.subCategories}}
                      <li class="">
                        <a href="/products/productBySub/{{this._id}}">{{this.name}}</a>
                      </li>
                    {{/each}}
                </ul>
                  </a>
              </li>

        {{/each}}
      </ul>
    </nav>
  </div>
</header>
<div class="search-bar-mobile">
  <form action="" method="get">
    <div class="wrapper">
      <input required="" id="inputSearchAuto-mb" name="q" maxlength="40" autocomplete="off" class="form-control" type="text" size="20" placeholder="Tìm kiếm sản phẩm..." onkeyup="showResult(this.value)">
      <button type="submit" class="btn btn-dark">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
    <div class="smart-search-result">
      <div class="result-content">
      </div>
    </div>
  </form>
</div>   
