<div class="policy-wrapper container-fluid pt-5 pb-5">
    <div class="row row-no-gutters">
        <div class="col-3 border">
            <div class="policy-item text-center">
                <div class="policy-icon">
                    <i class="far fa-paper-plane"></i>
                </div>
                <div class="policy-content">
                    <span class="font-weight-bold">Vận chuyển toàn quốc</span>
                    <p>Chúng tôi sử dụng dịch vụ COD, quý khách được kiểm tra hàng trước khi thanh toán</p>
                </div>
            </div>
        </div>
        <div class="col-3 border">
            <div class="policy-item text-center">
                <div class="policy-icon">
                    <i class="far fa-comments"></i>
                </div>
                <div class="policy-content">
                    <span class="font-weight-bold">HỖ TRỢ ONLINE 24/24</span>
                    <p>Chúng tôi luôn luôn hỗ trợ khách hàng 24/24 tất cả các ngày trong tuần. Số hotline đặt hàng 0987986986, Hotline phản ánh dịch vụ 24/7: 113 - 119</p>
                </div>
            </div>
        </div>
        <div class="col-3 border">
            <div class="policy-item text-center">
                <div class="policy-icon">
                    <i class="fas fa-sync-alt"></i>
                </div>
                <div class="policy-content">
                    <span class="font-weight-bold">Chính sách đổi hàng</span>
                    <p>Nhận đổi trả trong vòng 10 ngày đầu tiên  áp dụng cho tất cả các loại mặt hàng - Hỗ trợ đổi mẫu nếu không ưng kể cả hàng SALE. - Hỗ trợ đổi size thoải mái nếu còn hàng. - Không cần phải ra bưu điện gửi hàng đổi, chúng tôi sẽ gửi hàng mới đến tận nhà và thu hồi hàng cũ luôn.</p>
                </div>
            </div>
        </div>
        <div class="col-3 border">
            <div class="policy-item text-center">
                <div class="policy-icon">
                    <i class="fas fa-gifts"></i>
                </div>
                <div class="policy-content">
                    <span class="font-weight-bold">Chính sách bán hàng</span>
                    <p>Sale ngay 5% cho tất cả các hoá đơn trên 1.500.000. Đặt hàng trên website được tặng 2% tổng giá trị đơn hàng.</p>
                </div>
            </div>
        </div>
    </div>
</div>
