<div class="site-nav">
    <!-- site cart -->
    <div id="site-cart" class="site-nav-container">
        <div class="site-nav-container-last">
        <p class="title">GIỎ HÀNG</p>
        <div class="cart-view clearfix">
            <table id="cart-view">
            </table>
            <div class="line"></div>
            <table class="table-total">
            <tr>
                <td class="text-left">TỔNG TIỀN</td>
                <td class="text-right total-price"><b></b></td>
            </tr>
            <tr>
                <td class="text-left" >
                <a href="?page=cart" class="btn btn-dark">XEM GIỎ HÀNG</a>
                </td>
                <td class="text-right">
                <a href="/checkout" id="checkout" class="btn btn-dark btn-checkout" disabled>THANH TOÁN</a>
                </td>
            </tr>
            </table>
        </div>
        </div>
    </div>
    <!-- site search -->    
    <div id="site-search" class="site-nav-container d-none d-md-block">
        <div class="site-nav-container-last">
            <p class="title">TÌM KIẾM</p>
            <form class="search-wrapper pos-relative">
                <div class="seacrh-view p-0">
                    <input type="text" class="form-control" placeholder="Tìm kiếm..." onkeyup="showResult(this.value)">
                </div>
                <div id="ajax-search-result" class="smart-search-result shadow p-2 bg-white rounded">
                    <div class="result-content">
                    </div>
                </div>      
            </form>
        </div>
    </div>  
    <!-- site nav-mobile -->
    <div id="site-nav-mobile" class="site-nav-container d-block d-md-none">
        <div class="site-nav-container-last">
            <p class="title">MENU</p>
            <div class="navbar-mobile">
                <nav class="private-menu">
                    <ul class="menu-category">

                            <li class="item has-sub">
                                <a href=""></a>
                                <span class="icon-has-sub">
                                    <i class="fa fa-angle-down"></i>
                                 </span>
                                <ul class="sub-menu">

                                     <li class="sub-item">
                                        <a href=""><?php echo $rowSub['subcategoryname']?></a>
                                    </li>

                                </ul>
                            </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <button id="site-close-handle" class="site-close-handle" aria-label="Đóng" title="Đóng">
        <i class="fas fa-times"></i>
    </button>

</div>
<div id="site-overlay" class="site-overlay site-close-handle"></div>

<script>
    countItemInSiteCart();
    function countItemInSiteCart() {
        amountItem = $('#cart-view .item').length;
        iconCartNode = $('.header-wrap-icon__link span');
        iconCartNode.text(amountItem);
    }

    showSiteCartListItem();
    function showSiteCartListItem() {
        var getCartListItem = getAllItemCart();
        var HTML = convertCartListItemToSiteCartHTMLText(getCartListItem);
        var nodeSiteCart = $('#cart-view');
        var totalAmountNode = $('.total-price b');
        nodeSiteCart.html(HTML);
        totalAmountNode.text(calTotalAmount(getCartListItem).number * 10 / 100);
        countItemInSiteCart();
        getProductToDeleteInViewCart();
    }
    
    // checkout


    
    function convertCartListItemToSiteCartHTMLText(listItemCart) {
        var HTMLTotal = '';
        for(let i = 0 ; i < listItemCart.length; i ++) {
            HTMLTotal += convertCartItemToSiteCartHTML(listItemCart[i])
        }
        return HTMLTotal;
     }
    function convertCartItemToSiteCartHTML(cartItem) {
        var HTML =   '    <tr class="item">  '  + 
 '                       <td class="img">  '  + 
 '                       <a href="/products/'+ cartItem.productId + '">  '  + 
 '                           <img src="'+cartItem.ProductImagePath+'" alt="">  '  + 
 '                       </a>  '  + 
 '                       </td>  '  + 
 '                       <td class="detail">  '  + 
 '                       <a class="product-link product-name" id = "product-siteCart" value="'+cartItem.productId+'" href="/products/'+ cartItem.productId + '">'+cartItem.productName+'</a>  '  +
 '                       <div class="parameter-value">  '  +  
 '                          <span class="color-value">'+cartItem.productColor?.name +'</span>'+ ' - '  + 
 '                          <span class="size-value">'+cartItem.productSize?.name +'</span>' + 
 '                       </div>  '  + 
 '                       <div class="price-wrapper">  '  + 
 '                           <span class="quantity-view">'+cartItem.amount+'</span>  '  + 
 '                           <span class="price-view">'+convertFormatPrice(parseInt(cartItem.productPrice)*cartItem.amount)+'</span>  '  + 
 '                       </div>  '  + 
 '                       <span class="remove_cart-item">  '  + 
 '                           <a href="javascript:void(0);">  '  + 
 '                           <i class="fa fa-times"></i>  '  + 
 '                           </a>  '  + 
 '                       </span>  '  + 
 '                       </td>  '  + 
 '                  </tr>  ' ; 
        return HTML;
    }
    
    function getProductToDeleteInViewCart() {
        $('#cart-view .item').each(function(){
            var productId = $('#product-siteCart',this).attr("value");
                var color = (isUndefined($('.color-value',this).text())) ? $('.color-value',this).text() : null;
                var size = (isUndefined($('.size-value',this).text())) ? $('.size-value',this).text() : null;
            $('.remove_cart-item a',this).on("click",function() {
                alert ('xóa thành công');
                deleteItemInCart(productId,color,size);
                showSiteCartListItem();
            })
        })
    }
 
    // search


</script>