<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Địa chỉ - Thời Trang Nam Nữ NewHusky</title>
    <link rel="stylesheet" href="/css/bootstrap-4.3.1.min.css">
    <link rel="stylesheet" href="/css/util.css">
    <link rel="stylesheet" href="/Fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link rel="stylesheet" href="/OwlCarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/OwlCarousel/dist/assets/owl.theme.default.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/address.css">
  </head>
  <body>
    <div class="app">
      {{> header}}
        {{> site}}
        {{{body}}}
      {{> footer}}
    </div>
  </body>
	<script src="/Js/jquery-3.4.1.min.js"></script>
	<script src="/Js/bootstrap-4.3.1.js"></script>
	<script src="/Js/popper.min.js"></script>
	<script src="/Js/jquery.validate.js"></script>
	<script src="/Js/jquery-ui.min.js"></script>
	<script src="/OwlCarousel/dist/owl.carousel.min.js"></script>
	<link rel="stylesheet" href="Public/Images/323Goods/css/style.css" class="">
  <script type="text/javascript"> 
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      loop:true,
      margin:20,
      nav:true,
      responsive:{
          0:{
              items:2
          },
          600:{
              items:3
          },
          1000:{
              items:5
          }
      }
    });
    var width = 0;
  });

  $('#header-cart').click(function() {
    $('#site-overlay').addClass('active');
    $('#main-body').addClass('sidebar-move');
    $('.site-nav').addClass('active show-cart');
  })

  $('#header-search').click(function() {
    $('#site-overlay').addClass('active');
    $('#main-body').addClass('sidebar-move');
    $('.site-nav').addClass('active show-search');
  })

  $('#header-nav-mobile').click(function() {
    $('#site-overlay').addClass('active');
    $('#main-body').addClass('sidebar-move');
    $('.site-nav').addClass('active show-nav-mobile');
  })


  $('.site-close-handle').click(function() {
    $('#site-overlay').removeClass('active');
    $('#main-body').removeClass('sidebar-move');
    $('.site-nav').removeClass('active show-cart show-search');
  })

  window.onscroll = function() {scrollFunction()};
  $('#logo-fixed').hide();
function scrollFunction() {
  if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
    $('#main-header').addClass('fixed-view');
    $('.topbar-content').addClass('fixed-view');
    $('#logo-fixed').show();
  } else {
    $('#main-header').removeClass('fixed-view');
    $('.topbar-content').removeClass('fixed-view');
    $('#logo-fixed').hide();
  }

}

  //sub-mobile-appear

  listCate = $('.icon-has-sub');
  console.log(listCate);
  for(var i = 0 ; i < listCate.length ; i ++) {
    $(listCate[i]).on("click",function(event) {
      if(!$(this).parent().hasClass('active')){
        $(this).parent().addClass('active');
      
      }
      else
       $(this).parent().removeClass('active');
     // $(this).parent().addClass('active');
    })

    
  };

</script>
</html>