<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Đặt hàng</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap-4.3.1.min.css">
	<link type="text/css" href="/css/checkout.css" rel="stylesheet">
	<script src="/Js/jquery-3.4.1.min.js"></script>
		<script src="/Js/main.js"></script>
	<script src="/Js/cart.js"></script>
	<script src="/Js/checkout.js"></script>
</head>
<body>
	<div class="app">
        {{{body}}}
    </div>

</body>
</html>

