<div class="container-fluid">
          <div class="admin__work-space">
                {{#if message}}
                    <div class="valid-feedback" style="display: block;">
                    <h3>{{message}}</h3>
                    </div>
                {{/if}}
              <form action="/admin/categories/add" method="post" class="form-add-item">
                  </select>
                  <label for="name">Tên</label>
                  <input type="text" name="name" class="form-control">
                    {{#if emailError }}
                    <div class="invalid-feedback" style="display: block;">
                        <h5>Tên danh mục đã tồn tại!</h5>
                    </div>
                    {{/if}}
                  <label for="description">Mô tả</label>
                  <input type="text" name="description" class="form-control">
                  <div class="btn-wrapper mt-3">
                      <button class="btn btn-dark" name="submit" value="add-cat">thêm</button>
                      <a href="/admin/categories" class="btn">quay lại</a>
                  </div>
              </form>
          </div>
        </div>