<div class="container-fluid">
          <div class="admin__work-space">
                {{#if message}}
                    <div class="valid-feedback" style="display: block;">
                    <h3>{{message}}</h3>
                    </div>
                {{/if}}
              <form  method="POST" action="/admin/categories/{{category._id}}/edit?_method=PUT" class="form-add-item">
                  <label for="name"></label>
                  <input type="text" name="name" class="form-control" value="{{category.name}}">
                    {{#if emailError }}
                    <div class="invalid-feedback" style="display: block;">
                        <h5>Tên danh mục đã tồn tại!</h5>
                    </div>
                    {{/if}}
                  <label for="description"></label>
                  <input type="text" name="description" class="form-control" value="{{category.description}}">
                  <div class="btn-wrapper mt-3">
                      <button class="btn btn-dark" type="submit">Cập nhật</button>
                      <a href="/admin/categories" class="btn">quay lại</a>
                  </div>
              </form>
          </div>
        </div>