
<div class="container-fluid w-100">
     <div class="row">
        <div class="col-md-12 admin-wrapper">
          <div class="admin__header">
            <h3 class="admin__heading">Danh sách Category</h3>
          </div>
          <div class="admin__work-space">
            <div class="admin__search-bar">
              <div class="mb-3">
                <a href="categories/add" class="btn btn-primary"><i class="fas fa-plus"></i> Thêm mới</a>
              </div>
            </div>
            
            <table id="user_data" class="table table-hover table-bordered">
                      <thead class="thead-light">
                        <tr>
                          <th >STT</th>
                          <th >Tên danh mục</th>
                          <th >Mô tả</th>
                          <th >Hành động</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each categories}}
                        <tr>
                          <th>{{sum @index 1}}</th>
                          <td>{{this.name}}</td>
                          <td>{{this.description}}</td>
                          <td>
                            <a href="/admin/categories/{{this._id}}/edit"><span class="btn btn-primary"><i class="fas fa-edit fs-25"></i></span></a>
                            <a data-toggle="modal" data-target="#delete-modal"  href="" data-id = "{{this._id}}" ><span class="btn btn-danger"><i class="fas fa-ban fs-25"></i></span></a>
                          </td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>

          </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có thực sự muốn xóa danh mục này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete" class="btn btn-primary">Đồng ý</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>

{{!-- form delete --}}

<form id="delete-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var categoryID
    var deleteForm = document.forms['delete-form']
    var btnDelete = document.getElementById('btn-delete')

    $('#delete-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      categoryID = button.data('id') 
    }) 

    btnDelete.onclick = function() {
        deleteForm.action = '/admin/categories/' + categoryID + '/delete?_method=DELETE'
        deleteForm.submit()
    }
  })  

</script>