
<div class="container-fluid">
     <div class="row">
        <div class="col-md-12 admin-wrapper">
          <div class="admin__header">
            <h3 class="admin__heading">Cập nhật Đơn hàng #{{invoice._id}}</h3>
          </div>  
          <div class="admin__work-space">
            <form action="/admin/invoices/{{invoice._id}}?_method=PUT" method="post" id="">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h4>THÔNG TIN KHÁCH HÀNG & THANH TOÁN</h4>
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 form-group">
                                            <label>Ngày tạo:</label>
                                            <input value="{{invoice.createdAt}}" class="form-control" type="text" name="" id="" readonly>
                                        </div>
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 form-group">
                                            <label>Cập nhật lần cuối:</label>
                                            <input value="{{invoice.updatedAt}}" class="form-control" type="text" name="" id="" readonly>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 form-group">
                                            <label>Tên Khách Hàng</label>
                                            <input value="{{invoice.user.firstName}} {{invoice.user.lastName}}" class="form-control" type="text" name="txtname" id="" readonly>
                                        </div> 
                                    </div>
                                <div class="row">
                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 form-group">
                                        <label>Thông tin Thanh toán & Giao hàng</label>
                                        <textarea class="form-control" type="text" name="txtshipinfo" id="" >{{{invoice.shipmentInfo}}}</textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 form-group">
                                        <label>Trạng thái hiện tại:</label>
                                          {{#switch invoice.status}}
                                            {{#case 'pending'}}
                                              <input value="dang chờ duyệt" readonly  class="form-control font-weight-bold text-white bg-warning">
                                            {{/case}}
                                            {{#case 'accepted'}}
                                              <input value="Đã xác nhận - Chờ lấy hàng" readonly class="form-control font-weight-bold text-white bg-info">
                                            {{/case}}
                                            {{#case 'shipping'}}
                                             <input value="Đang giao hàng" readonly class="form-control font-weight-bold text-white bg-primary">
                                                
                                            {{/case}}
                                            {{#case 'completed'}}
                                             <input value="Đã hoàn thành" readonly class="form-control font-weight-bold text-white bg-success">
                                                
                                            {{/case}}
                                            {{#case 'canceled'}}
                                             <input value="Đã huỷ" readonly class="form-control font-weight-bold text-white bg-canceled">

                                            {{/case}}
                                          {{/switch}}
                                    </div>
                                    
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label>Hình thức thanh toán:</label>
                                        <input value="{{invoice.paymentMethod}}" class="form-control" type="text" name="" id="" readonly>
                                    </div>
                                    
                                </div>             
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 offset-2">
                                <h4>THÔNG TIN CHUNG</h4>
                                <div class="card">
                                  <div class="card-header font-weight-bolder text-primary">
                                    Đơn hàng #{{invoice._id}}
                                  </div>
                                  <div class="card-body">
                                    <h3 class="card-title">Tổng cộng: </h3>
                                    <h2 class="card-text font-weight-bolder text-primary">{{currencyFormat invoice.totalAmount}}</h2>
                                    <h5 class="card-title">Chọn hành động: </h5>
                                    <select class="form-control" name="status" id="">
                                      {{#switch invoice.status}}
                                            {{#case 'pending'}}
                                            <option value="{{invoice.status}}" class="form-control font-weight-bold text-white bg-warning" >Đang đợi duyệt</option>
                                            {{/case}}
                                            {{#case 'accepted'}}
                                              <option value="{{invoice.status}}" class="form-control font-weight-bold text-white bg-info" >Đã xác nhận - chờ lấy hàng</option>
                                            {{/case}}
                                            {{#case 'shipping'}}
                                             <option value="{{invoice.status}}" class="form-control font-weight-bold text-white bg-primary" >Đang giao hàng</option>
                                                
                                            {{/case}}
                                            {{#case 'completed'}}
                                             <option value="{{invoice.status}}" class="form-control font-weight-bold text-white bg-success" >Đã hoàn thành</option>
                                                hoàn
                                            {{/case}}
                                            {{#case 'canceled'}}
                                             <option value="{{invoice.status}}" class="form-control font-weight-bold text-red bg-canceled" >Huỷ đơn hàng</option>

                                            {{/case}}
                                          {{/switch}}
                                        <option value="accepted" class="form-control font-weight-bold text-white bg-info" >Đã xác nhận - chờ lấy hàng</option>
                                        <option value="shipping"  class="form-control font-weight-bold text-white bg-primary">Đang giao hàng</option>
                                        <option value="completed" class="form-control font-weight-bold text-white bg-success">Đã hoàn thành</option>
                                        <option value="canceled" class="form-control font-weight-bold text-black bg-canceled">Huỷ</option>
                                    </select>
                                  </div>
                                </div>
                            </div>
                    </div>
                    <div class="row mt-5 mb-3">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-4">
                                <div class="btn-wrapper">
                                    <input type="hidden" name="request_name" value="update_order">
                                    <input id="" class="btn btn-success mr-5" type="submit" value="Cập nhật">
                                    <a class="btn btn-info ml-5" href="?page=order-list">Trở về</a>
                                </div>  
                            </div>
                        </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2>DANH SÁCH SẢN PHẨM</h2>
                            <table class="table table-bordered">
                              <thead class="bg-info text-white">
                                <tr>
                                  <th scope="col">STT</th>
                                  <th scope="col">Tên Sản Phẩm</th>
                                  <th scope="col">Màu Sắc</th>
                                  <th scope="col">Kích Thước</th>
                                  <th scope="col">Số Lượng</th>
                                  <th scope="col">Đơn Giá</th>
                                  <th scope="col">Thành Tiền</th>
                                </tr>
                              </thead>
                              <tbody>
                                {{#each invoiceDetails}}
                                <tr>
                                    <td>{{sum @index 1}}</td> 
                                    <td>{{this.productDetail.product.name}}</td>
                                    <td>{{this.productDetail.color.name}}</td>
                                    <td>{{this.productDetail.size.name}}</td>
                                    <td>{{this.quantity}}</td>
                                    <td>{{currencyFormat this.productDetail.product.price}}</td>
                                    <td>{{currencyFormat (multiple this.productDetail.product.price this.quantity)}}</td>
                                </tr>
                                  {{/each}}
                              </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </form>
        </div>
     </div>
    </div>
</div>
<script language="JavaScript" type="text/javascript">
    function checkDelete(){
        return confirm('Are you sure?');
    }
    $(document).ready(function() {
	    $('.summernote').summernote({
	        height: 250,                 // set editor height
	        minHeight: null,             // set minimum height of editor
	        maxHeight: null,             // set maximum height of editor
	        focus: false                 // set focus to editable area after 
	    });
    });
</script>
