
<div class="container-fluid">
     <div class="row">
        <div class="col-md-12 admin-wrapper">
          <div class="admin__header">
            <h3 class="admin__heading">Danh sách Đơn hàng</h3>
          </div>  
          <div class="admin__work-space">
            <div class="admin__search-bar">
              <!-- <div class="mb-3">
                <a href="?page=sub-new" class="btn btn-primary"><i class="fas fa-plus"></i> Thêm mới</a>
              </div> -->
            <input type="text" class="form-control" placeholder="Tìm kiếm">
            </div>
            <table class="table table-hover table-bordered mt-3">
                        <thead class="thead bg-primary" style="color: white;">
                            <tr>
                                <th>#</th>
                                <th>Tên Khách Hàng</th>
                                <th>Phương Thức Thanh Toán</th>
                                <th>Trạng Thái</th>
                                <th>Ngày tạo</th>
                                <th>Cập nhật mới nhất</th>
                                <th>Tổng tiền</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                              {{#each invoices}}
                                <tr>
                                    <th>{{sum @index 1}}</th>
                                    <td>{{this.user.firstName}} {{this.user.lastName}}</td>
                                    <td>{{this.paymentMethod}}></td>
                                    <td>
                                      {{#switch this.status}} 
                                        {{#case 'pending'}}
                                            <span class="btn btn-warning btn-icon-split">
                                                <span class="icon text-white-50"><i class="fas fa-question-circle mt-1"></i></span>
                                                <span class="text">Đang chờ duyệt</span>
                                        </span>
                                        {{/case}}
                                        {{#case 'accepted'}}
                                            <span class="btn btn-info btn-icon-split">
                                                <span class="icon text-white-50"><i class="fas fa-calendar-check mt-1"></i></span>
                                                <span class="text">Đã xác nhận</span>
                                        </span> 
                                        {{/case}}
                                        {{#case 'shipping'}}
                                            <span class="btn btn-primary btn-icon-split">
                                                <span class="icon text-white-50"><i class="fas fa-shipping-fast mt-1"></i></span>
                                                <span class="text">Đang giao hàng</span>
                                        </span> 
                                        {{/case}}
                                        {{#case 'completed'}}
                                            <span class="btn btn-success btn-icon-split">
                                                <span class="icon text-white-50"><i class="fas fa-check-circle mt-1"></i></span>
                                                <span class="text">Đã hoàn thành</span>
                                        </span>
                                        {{/case}}
                                        {{#case 'canceled'}}
                                            <span class="btn btn-danger btn-icon-split">
                                                <span class="icon text-white-50"><i class="fas fa-times-circle mt-1"></i></span>
                                                <span class="text">Đã huỷ</span>
                                        </span>
                                        {{/case}}
                                      {{/switch}} 
                                        </td>
                                    <td>{{this.createdAt}}</td>
                                    <td>{{this.createdAt}}</td>
                                    <td>{{currencyFormat this.totalAmount}}</td>
                                    <td>
                                        <a href="/admin/invoices/{{this._id}}"><span class="btn btn-primary"><i class="far fa-eye fs-20"></i></span></a>
                                        <a onclick="return checkDelete();" href="" ><span class="btn btn-danger"><i class="fas fa-ban fs-20"></i></span></a>
                                    </td>
                                </tr>
                              {{/each}}  
                        </tbody>
                    </table>
                  <div><?php echo $paging_html; ?></div>
          </div>
        </div>
    </div>
</div>

<script language="JavaScript" type="text/javascript">
                      function checkDelete(){
                            return confirm('Are you sure?');
                      }
                    </script>