<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Bản quyền &copy; NewHusky shop - Trần Cảnh Quân</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->