
 <!-- Sidebar -->
 <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
  <div class="sidebar-brand-text mx-2">NewHusky</div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
  <a class="nav-link" href="?">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Bảng điều khiển</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
  Quản lý Danh mục
</div>

<!-- Nav Item  -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-fw fa-cog"></i>
    <span>Danh mục cha</span>
  </a>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Hành động:</h6>
      <a class="collapse-item" href="/admin/categories/add">Thêm Mới</a>
      <a class="collapse-item" href="/admin/categories">Danh sách Danh mục cha</a>
    </div>
  </div>
</li>

<!-- Nav Item -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
    <i class="fas fa-fw fa-wrench"></i>
    <span>Danh mục con</span>
  </a>
  <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Hành động:</h6>
      <a class="collapse-item" href="/admin/subcategories/add">Thêm Danh mục con</a>
      <a class="collapse-item" href="/admin/subcategories">Danh sách Danh mục con</a>
    </div>
  </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
  Quản lý Sản phẩm
</div>

<!-- Nav Item  -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
    <i class="fas fa-fw fa-cog"></i>
    <span>Sản phẩm</span>
  </a>
  <div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Hành động:</h6>
      <a class="collapse-item" href="/admin/products/add">Thêm Sản phẩm mới</a>
      <a class="collapse-item" href="/admin/products/list">Danh sách Sản phẩm</a>
    </div>
  </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
  Quản lý Đơn hàng
</div>

<!-- Nav Item  -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
    <i class="fas fa-fw fa-cog"></i>
    <span>Danh sách Đơn hàng</span>
  </a>
  <div id="collapse4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <a class="collapse-item" href="/admin/invoices">Danh sách đơn hàng</a>
    </div>
  </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">
<!-- Heading -->

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
    <i class="fas fa-fw fa-folder"></i>
    <span>Tài khoản và Thành viên</span>
  </a>
  <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Quản lý Tài khoản:</h6>
      <a class="collapse-item" href="<?php echo $user->h->get_url("323goods/admin/?page=user-add"); ?>">Thêm tài khoản</a>
      <a class="collapse-item" href="<?php echo $user->h->get_url("323goods/admin/?page=user-list"); ?>">Danh sách tài khoản</a>
      <div class="collapse-divider"></div>
      <h6 class="collapse-header">Quản lý Khách hàng:</h6>
      <a class="collapse-item" href="<?php echo $user->h->get_url("323goods/admin/?page=cus-add"); ?>">Thêm thành viên</a>
      <a class="collapse-item" href="<?php echo $user->h->get_url("323goods/admin/?page=cus-list"); ?>">Danh sách thành viên</a>
    </div>
  </div>
</li>
<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
  <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
</ul>
<!-- End of Sidebar -->